<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Libreria negocia.pe</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
 <link rel="stylesheet" href="../../css/estilos_pos.css" type="text/css">

<!-- JQUERY -->
<script src="{{EC2_DOMINIO}}crm/assets/libs/jquery/jquery.min.js?v=4" type="text/javascript"></script>

<!-- BOOTSTRAP 5 -->
<link href="{{EC2_DOMINIO}}crm/assets/css/bootstrap.min.css?v=4" id="bootstrap-style" rel="stylesheet" type="text/css" />
<script src="{{EC2_DOMINIO}}crm/assets/libs/bootstrap/js/bootstrap.bundle.min.js?v=3"></script>

<!-- CSS PRINCIPAL -->
<link href="{{EC2_DOMINIO}}css/css_negocia.css?v=00001" rel="stylesheet" type="text/css">

<!-- JS PRINCIPAL -->
<script src="{{EC2_DOMINIO}}js/funcion_ajax.js?v=00010" type="text/javascript"></script>
<link href="{{EC2_DOMINIO}}css/paginacion_dinamica.css?v=4" rel="stylesheet" type="text/css">
<!-- ICONOS FONT AWESOME -->
<link href="{{EC2_DOMINIO}}css/iconos/css/font-awesome.min.css?v=00001" rel="stylesheet" type="text/css">
<link href="{{EC2_DOMINIO}}crm/assets/css/icons.min.css?v=4" rel="stylesheet" type="text/css" />
 
<!-- ALERTAS SWEETALERT -->
<link rel="stylesheet" href="{{EC2_DOMINIO}}Operaciones/SweetAlert2/sweetalert2.min.css?v=00001">
<script src="{{EC2_DOMINIO}}Operaciones/SweetAlert2/sweetalert2.all.min.js?v=00001"></script>

<!-- VENTANA PARA IMPRIMIR -->
<script src="{{EC2_DOMINIO}}Operaciones/js/VentanaCentrada.js?v=00001" type="text/javascript"></script>

<!-- TIPO DE FUENTE -->
<link href="//fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">

<!--COD PAISES-->
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<!-- SELECT2 - NUEVO -->
<link href="{{EC2_DOMINIO}}config/select2/select2.min.css?v=11" rel="stylesheet">
<script src="{{EC2_DOMINIO}}config/select2/select2.min.js?v=11"></script>

<!-- ICONO LOGO -->
<link rel="apple-touch-icon" sizes="57x57" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_favicon-16x16.png">
<!--<link rel="manifest" href="{{EC2_DOMINIO}}images/logo/manifest.json">-->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!--TITLE-->
<title>Pos Múltiple</title>

  </head>
<body id="body_contenedor">

<div id="div_recargar_session"></div>

<!-- CONTENIDO -->
<form id="datos_factura">

<input type="hidden" id="countv" name="countv" value="">

<!-- DATOS -->
<input type="hidden" id="input_page" value="1" readonly="readonly">
<input type="hidden" id="punto_de_venta" name="punto_de_venta" value="1" readonly="readonly">
<input type="hidden" id="tipo_operacion" name="tipo_operacion" value="1" readonly="readonly">
<input type="hidden" id="id_cliente" name="id_cliente" readonly="readonly">
<input type="hidden" id="cargar_panel_cotizaciones_ordenes" value="0" name="cargar_panel_cotizaciones_ordenes" readonly="readonly">
<input type="hidden" id="valor_chbx_opcion" name="valor_chbx_opcion" value="1" readonly="readonly">
<!--COTIZACIONES-->
<input type="hidden" id="select_buscar_cotizaciones" name="select_buscar_cotizaciones" readonly="readonly">
<!--ORDEN VENTA-->
<input type="hidden" id="select_orden_venta" name="select_orden_venta" readonly="readonly">
<input type="hidden" id="id_tipodoc_venta" readonly="readonly">
<input type="hidden" id="id_serie_venta" readonly="readonly">
<input type="hidden" id="id_mesa_pedido" name="id_mesa_pedido" value="" readonly="readonly">
<input type="hidden" id="check_multiple_id_pedido" name="check_multiple_id_pedido" readonly="readonly">
<!--GUIA REMISION-->
<input type="hidden" id="check_multiple_guia_remision" name="check_multiple_guia_remision" readonly="readonly">
<!--DIRECCION DEL CLIENTE-->
<input type="hidden" id="n_direccion_cliente" name="n_direccion_cliente" readonly="readonly" value="0">

<!-- VERIFICAR  -->
<!--<input type="hidden" name="moneda" id="moneda" value="1" readonly="readonly">-->
<input type="hidden" id="condiciones" name="condiciones" value="1" readonly="readonly">
<input type="hidden" id="metodo_pago" name="metodo_pago" value="1" readonly="readonly">
<input type="hidden" id="vuelto_POS" name="vuelto_POS" value="0" readonly="readonly">


<div class="row mobile_row"  >
<div class="col-lg-7 col-md-6 col-sm-12 col-12 width_col_lg_izquiera_renew padding_izquierdo" id="lado_izquierdo">
<div class="row div_izquierdo_1 padding_izquierdo margin_div_1" >
<div class="row p_movil_ca_adcionale">  

<div class="col-lg-12 col-md-12 col-sm-12 col-12 row bloque_select_productos" >
<div class="col-lg-3 col-md-3 col-sm-2 col-3 table_margen_select_tipo" >
<div class="col-12 border_radius div_hijo_select_prod" >    
<div class="col-auto ver_por" >    
<span class="ocultar_span_ver_por">Ver por:</span> 
<select id="ver_panel_izquierdo_info" onchange="mostrar_panel_izquierdo();">
<option value="1">Productos</option>
<option value="2">Orden de pedido</option>
<option value="3">Cotizaciones</option>
<option value="4">Guias de remisi&oacute;n</option>
</select>
</div>
</div>
</div> 

<div class="col-lg-6 col-md-5 col-sm-6 col margen_modo_tablet border_radius buscador_margin"  >   
<input id="n_producto" onkeyup="fn_buscar_productos();" type="text" class="btn form-control css_buscador" placeholder=" Buscar producto:" autocomplete="off"  >
<span class="visualizar_lupa" >
<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="#999999" d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8s3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6s-6-2.691-6-6s2.691-6 6-6z"/></svg>
</span>
</div>

<div class="col-lg-auto col-auto col-sm-1 col-auto col-md-1 text-start div_contenedor_nuevo_p nuevo_producto_url" >
<button onclick="modal_productos(0);" type="button" class="btn div_registrar_producto movil_w_btn_reg icono_producto_p d-flex align-items-center justify-content-center" >
<svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 20 20" fill="none">
  <path fill="#ff0000" fill-rule="evenodd" d="M9 17a1 1 0 102 0v-6h6a1 1 0 100-2h-6V3a1 1 0 10-2 0v6H3a1 1 0 000 2h6v6z"></path>
</svg>
</button>
</div>

<!--SELECT VENDEDOR O ALMACEN-->
<div class="col-lg-2 col-md-3 col-sm-3 col-12 div_contener_select margen_modo_tablet "  >
<div class="col-12 padding_vendedor">
<select id="elvendedor" name="elvendedor" class="div_select_vendedor ">
<option value="0"  >Seleccione Vendedor</option>
</select>
</div>
</div>
</div>
    
    
<div class="col-12 padding_adicionales_cat"  >
<div class="row">     
<div class="col-lg-11 col-md-11 col-sm-11 col-11 text-center p-0 "  >
<div class="row">    

<div class="col-lg-2 col-md-3 col-sm-3 col-3 border_radius_left" >
<div class="col-12 ver_por select_campos_filtros" >    
<select onchange="filtro_campos_adicionales_productos(0);" id="filtro_campos_adicionales">   
<option value="categoria">Categoria</option>
<option value="marca">Marca</option>
 <option value="marca">Adicionales</option>
</select>
</div>
</div>

<div class="col-lg-10 col-md-9 col-sm-9 col-9 border_radius_top" >
<div class="row alto_row_filtros" >
<div class="col-10">    
<div class="row m-0 p-0 alto_row_filtros" >
<div class="cargar_vista_horizontal_categorias"> 
</div>
</div>  
</div>

<div class="col-2 d-flex justify-content-end align-items-center ver_mas_adicionales"  onclick=""> 
<span class="icono_arrow_ver_mas">Ver m&aacute;s </span> 
<svg xmlns="http://www.w3.org/2000/svg" class="icono_arrow_ver_mas" width="14" height="14" viewBox="0 0 24 24"><path fill="currentColor" d="m11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707l-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
</div>   
</div>

<div class="col-12" id="mas_categorias_panel" >
<div class="col-12">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#707070" d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8s3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6s-6-2.691-6-6s2.691-6 6-6z"/></svg>
</span>
<input id="buscador_adicionales" type="text" class="form-control placeholder_color ui-autocomplete-input" placeholder="Buscar Categor&iacute;a"  autocomplete="off">
</div>    
<div class="resultados_busqueda_catgegorias_adicionales"></div>
</div>  

</div>

<!--ID DE DETALLE O MARCA O CATEGORIA-->
<input type="hidden" value="" id="id_filtro_detalle_relacion">
 
</div>
</div>    

<!--CAMBIAR VISTA PRODUCTOS div_cambio_icono-->
<div class="col-lg-1 col-md-1 col-sm-1 col-1 d-flex justify-content-start padding_icono_products ">
<button tabindex="-1" onclick="" id="btn_vista" type="button" class="btn hint--bottom hint--negocia div_cambio_vista_producto border_radius" aria-label="Cambiar vista de productos"  >
<svg xmlns="http://www.w3.org/2000/svg" class="icon_cambio_vista"   viewBox="0 0 24 24"><path   d="M4 6h2v2H4zm0 5h2v2H4zm0 5h2v2H4zm16-8V6H8.023v2H18.8zM8 11h12v2H8zm0 5h12v2H8z"/></svg>
</button>
</div>

</div>
</div> 
</div>
</div>


<div id="tamano_izquierda" class="col-sm-12 col-12 p-0" >
<div class="row div_izquierdo_2 padding_izquierdo row_productos_load" >
<div class="outer_div padding_izquierdo" style="padding-top: 5px; padding-bottom: 5px; border-radius: 5px;">
<!--FORMATO DE PRODUCTOS CUADRADOS-->
<div class="row formato_1">
<div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center col_vista1_hover"  >
<table title="PRODUCTO OFFLINE" class="tmano_tabla_tipo_1" >
<tr>
<td class="titulo_vista_1" >
<div style="width: 100%;">
<a id="btn_info_producto_343434" class="icono_vista_1" href="javascript:void(0)"  >
<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 1536 1536"><path fill="#ff5900" d="M1024 1248v-160q0-14-9-23t-23-9h-96V544q0-14-9-23t-23-9H544q-14 0-23 9t-9 23v160q0 14 9 23t23 9h96v320h-96q-14 0-23 9t-9 23v160q0 14 9 23t23 9h448q14 0 23-9t9-23zM896 352V192q0-14-9-23t-23-9H672q-14 0-23 9t-9 23v160q0 14 9 23t23 9h192q14 0 23-9t9-23zm640 416q0 209-103 385.5T1153.5 1433T768 1536t-385.5-103T103 1153.5T0 768t103-385.5T382.5 103T768 0t385.5 103T1433 382.5T1536 768z"/></svg>
</a>
</div>
<div class="nombre_product_vista_1" >
  {{#each datos}}
<span   title="PRODUCTO OFFLINE">{{datos.ruc}}</span> 
  {{/each}} 
</div>    
</td>
</tr>
<tr>
<td  class="img-tabla img_vista_1" style=" background-image: url('views/images/null.png');"></td>
</tr>
<tr>
<td>
<div class="precio_vista_1" >
<span> S/ 12.55 </span>
</div>
</td>
</tr>
</table>
</div>
</div>
<!--FORMATO DE PRODUCTOS LISTA-->
<div class="row formato_2">
<table title="PRODUCTO NODE JS" class="tabla_movil_producto_tabla" >
<tr>

<td>

<table style="width: 100%;">
<tr>
<td>
<button type="button" class="btn_click_tabla" >
<table style="width: 100%;">
<tr>
<td  class="img-tabla tipo_2_css_img" style=" background-image: url('views/images/null.png');"></td>
<td style="width: 2%; height: 40px !important;"></td>
<td style="width: 80%; height: 40px !important; cursor: pointer; border-radius: 0px !important; background-color:transparent;">
<table style="width: 100% !important; background: #fff; border-radius:5px; height: 40px !important;">
<tr>
<td style="font-size: 14px; font-weight: bold; text-align: left; height: 20px !important; ">
PRODUCTO NODE JS
</td>
</tr>
<tr>
<td class="td_contenedor_detalle">

<span class="precio_real">Precio: S/ 300.00</span>
<span class="costo_registrado"  >Precio Costo Registrado: S/ 12.00</span>
<span class="stock_real"  >Stock Real: 13</span>
<span class="marca_detalle">Marca: Saga</span>
<span class="descripcion_pos_producto" >Descripci&oacute;n: Negocia.pe</span>
 
</td>
</tr>
</table>
</td>
</tr>
</table>
</button>
</td>
<td class="img-tabla icon_tabla_css_prod" >
<a tabindex="-1" id="btn_info_producto_9899" class="inline css_a_tabla" href="javascript:void(0)"   >
 <svg xmlns="http://www.w3.org/2000/svg" class="inline" width="15" height="15" viewBox="0 0 1536 1536"><path fill="#ff5900" d="M1024 1248v-160q0-14-9-23t-23-9h-96V544q0-14-9-23t-23-9H544q-14 0-23 9t-9 23v160q0 14 9 23t23 9h96v320h-96q-14 0-23 9t-9 23v160q0 14 9 23t23 9h448q14 0 23-9t9-23zM896 352V192q0-14-9-23t-23-9H672q-14 0-23 9t-9 23v160q0 14 9 23t23 9h192q14 0 23-9t9-23zm640 416q0 209-103 385.5T1153.5 1433T768 1536t-385.5-103T103 1153.5T0 768t103-385.5T382.5 103T768 0t385.5 103T1433 382.5T1536 768z"></path></svg>

  </a>
</td>
</tr>
</table>
</td>





</tr>
</table>

</div>




</div>
<div class="resultados_pos"></div>
<div id="resultados"></div>
<div id="resultados_serie_f"></div>
<div id="resultados_lp"></div>
</div>
</div>
<div class="text-center div_izquierdo_3 col-sm-12 col-12" id="lado_pagination" >
<button id="load_left" type="button" class="btn">
<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 608 1280"><path fill="white" d="M595 288q0 13-10 23L192 704l393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10L23 727q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg>
</button>
<button id="load_right" type="button" class="btn" >
<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 608 1280"><g transform="translate(608 0) scale(-1 1)"><path fill="white" d="M595 288q0 13-10 23L192 704l393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10L23 727q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></g></svg>
</button>

<button type="button" class="btn d-none" data-bs-toggle="modal" data-bs-target="#mp_crear_producto_improvisado_" style="float: right;padding: 0px;margin-right: 10px; " >
<img src="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/con%20_shopping_bags_.png" style="width: 32px;">
<i class=" bx bxl-product-hunt" style="display: none; font-size: 30pt;color: #FF9900;"></i>
</button>

<div class="col-sm-12 col-12 btn_atajo_pagar btn_continuar_detalle_seleccionados" onclick="$('#lado_izquierdo').css('display', 'none');
$('#lado_derecho').css('display', 'block');" >Continuar
</div>

</div>

<div class="div_load_info_cliente " style="margin-top: 10px; display: none; overflow-y: auto;"></div>
<div class="div_load_info_producto " style="margin-top: 10px;display: none; overflow-y: auto;"></div>
<div class="div_pos_pagar " style="margin-top: 10px; display: none; overflow-y: auto;"></div>

</div>


<div class="col-lg-5 col-md-6 col-sm-12 col-12 width_col_lg_centro_renew lado_css_none" id="lado_derecho" >
<div id="select_serie"></div>
<div id="select_serie_pos"></div>
<div id="select_correlativo_pos"></div>

<div class=" col-12 lado_dere_movil" onclick="$('.outer_div, .div_izquierdo_1, .div_izquierdo_2, .div_izquierdo_3, #tamano_izquierda').css('display', ''); $('.div_load_info_cliente').css('display', 'none');$('#lado_derecho').css('display', 'none');$('#lado_izquierdo').css('display', ''); $('.div_pos_pagar').html('');$('#ver_panel_izquierdo_info').val('1');">
 
<svg xmlns="http://www.w3.org/2000/svg" class="inline" width="20" height="20" viewBox="0 0 24 24"><path fill="#ff9c00" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2zm2 15l-6-5l6-5v10z"/></svg>Agregar m&aacute;s Productos
</div> 

<div class="hidden-lg hidden-md hidden-sm col-6" style="margin-top: 13px; margin-bottom: 10px; display: none;">
<span style="float:right; font-size: 12px; font-weight: bold; color: red;" onclick="$('#mas_opciones_pos').modal('show');" >M&aacute;s opciones</span>  
</div>

<div class="row  div_derecho_1"  >
   
<!--TIPO DOCUMENTO div_select_tipodoc-->
<div class="col-lg-5 col-md-5 col-sm-4 col-5 padding_celda_encabezado clase_tipo_doc_remove border_tipo_doc"  >
<label class="d-flex text-start titulo_opciones_pos">Tipo de documento</label>    
<select class="form-control formato_select_number" name="tipodoc" id="tpodoc" onchange="cargar_series();" >
<option value="0" hidden="hidden">Tipo Documento:</option>
<option value="3">Boleta electronica</option>
<option value="4">Factura electronica</option>
<option value="5">Nota de venta</option>
<option value="14" >Factura de contingencia</option>
</select>
</div>


<!--SERIE-->
<div class="col-lg-3 col-md-3 col-sm-3 col-3 padding_celda_encabezado mostrar_serie_orden_venta border_serie_orden" >
<label class="d-flex text-star titulo_opciones_pos">Serie</label>     
<select class="form-control div_select_serie seleccion_serie_movil formato_select_number" name="serie" id="serie"  >
<option value="0">N&#176; Serie</option>
</select>
</div>


<!--CORRELATIVO-->
<div class="col-lg-3 col-md-3 col-sm-3 col-3 padding_celda_encabezado n_factura_remove_class border_serie_correlativo"  >
<label class="d-flex text-start titulo_opciones_pos">N&#176;</label>     
<input type="number" class="form-control div_input_num_factura formato_select_number" id="num_factura" name="num_factura"  >
</div>

<div class="col-1 padding_celda_encabezado d-flex justify-content-center align-items-center" onclick="$('#mas_opciones_pos').modal('show');" style="cursor: pointer; border-bottom: 1px solid rgba(0, 0, 0, 0.11);margin: 0px; ">
<svg xmlns="http://www.w3.org/2000/svg" class="pointer" width="16" height="16" viewBox="0 0 384 1408"><path fill="currentColor" d="M384 1120v192q0 40-28 68t-68 28H96q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h192q40 0 68 28t28 68zm0-512v192q0 40-28 68t-68 28H96q-40 0-68-28T0 800V608q0-40 28-68t68-28h192q40 0 68 28t28 68zm0-512v192q0 40-28 68t-68 28H96q-40 0-68-28T0 288V96q0-40 28-68T96 0h192q40 0 68 28t28 68z"/></svg>
</div>

</div> 



<div class="row div_derecho_1 col-lg-12 col-md-12 col-sm-12 col-12" style="margin:0px;">
<!--CLIENTE div_input_cliente-->
<div class="col-lg-11 col-md-11 col-sm-11 col-11 padding_celda_encabezado div_buscador_cliente"   >
<div class="div_hijo_cliente_b" >    
<span class="lupa_cliente">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="#707070" d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8s3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6s-6-2.691-6-6s2.691-6 6-6z"/></svg>
</span>   
<input id="b" type="text" class="form-control placeholder_color" placeholder="Buscar Cliente"  >
<div id="load_result_clientes"></div>
</div>
</div>

<!--OJITO DE REGRESAR AL PANEL DE ORDENES Y COTIZACIONES-->
<div id="btn_cobrar" class="col-lg-1 col-md-1 col-sm-1 col-1 d-flex justify-items-center justify-content-center padding_celda_encabezado "  >
<span class="div_btn_cliente hint--bottom" aria-label="M&aacute;s Opciones" onclick="
$('#btn_pos_pagar').css('display', ''); 
$('#btn_save_factura').css('display', 'none'); 
var fn_id_info_cliente = $('#id_cliente').val(); 
var fn_formulario_info_cliente = $('#formulario_info_cliente').val(); 
if(fn_id_info_cliente > 0){
if (fn_id_info_cliente == fn_formulario_info_cliente) {
$('.outer_div, .div_izquierdo_1, .div_izquierdo_2, .div_izquierdo_3, #tamano_izquierda, .div_load_info_producto, .div_pos_pagar').css('display', 'none');
$('.div_load_info_cliente, #btn_pos_pagar').css('display', '');
} 
}
var funcion_width_movil = $(window).width(); 
if(funcion_width_movil <= 768){ $('#lado_izquierdo').css('display', '');
$('#lado_derecho').css('display', 'none'); } " style="cursor: pointer; padding-top: 10px;">


<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#727272" d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316l-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4s4 1.794 4 4s-1.794 4-4 4z"/><path fill="#727272" d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2s2-.916 2-2s-.916-2-2-2z"/></svg>


</span>
</div>

<div class="col-lg-1 col-md-1 col-sm-1 hidden text-center clas_mas_opcion_m" onclick="$('#mas_opciones_pos').modal('show');" >
M&aacute;s opciones
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-12 ver_puntos"  >
</div>
<div class="ver_modal_cliente_new"></div>
<div id="modal_registrar_productos"></div>
</div>
<!--MODAL MAS OPCIONES-->
<div class="modal" id="mas_opciones_pos"> 
<div  class="modal-dialog modal-sm modal-dialog-centered" role="document" style="margin: 0 auto; ">
<div class="modal-content" style="border-radius: 0px;">
<div class="modal-body nlabsac_c_diurno" style="padding:0;">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 row" style="padding-top:10px;">    
<div class="col-6">    
<span style="font-size: 18px; font-weight: bold;">M&aacute;s opciones</span>
</div>
<div  class="col-6">     
<button type="button" class="close  btn-close " data-bs-dismiss="modal" aria-label="Close" style="float: right; font-size: 10px;"></button>
</div>
</div>
<!--FORMULARIO-->
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0;">
<hr style="margin:0; margin-top: 10px; margin-bottom: 15px;">
</div>
<div class="row">
<div class=" col-12 col-sm-12 col-md-12 col-lg-12">

<div class="col-lg-12 col-md-12 col-sm-12 col-12" >
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0; ">
<label class="control-label label_titulo_mas_opciones" >Fecha Venta</label>
<input type="date" id="id_fecha" name="id_fecha" value=""  autocomplete="off" class="form-control movil_id_fecha input-sm css_modal_inputs " placeholder="Fecha de Emisi&oacute;n">
</div>
</div>      
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="">
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0;">
<label class="control-label label_titulo_mas_opciones" >Despacho de productos</label><br>
<select class="form-control div_select_tipo_despacho css_modal_inputs" name="chbx_opcion" id="chbx_opcion"  >
<option value="1">Despachar todo</option>
<option value="3">Despachar despues</option>
<option value="4">No despachar</option>
</select>

</div>
</div>
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 10px;">    
<div class="col-lg-12 col-md-12 col-sm-12 col-12 div_tipodoc_serie_venta padding_celda_encabezado " style="margin: 0; padding: 0px; ">
<label class="d-flex text-start serie_venta_texto_orden_pedido label_titulo_mas_opciones">Comprobante Pago</label>  
<select name="tipodoc_venta" id="tipodoc_venta" onchange="act_serie_pos();" class="form-control css_modal_inputs "  >
<option value="0" selected="selected" hidden="hidden">Orden de Pedido</option>
<option value="3">Boleta Electr&oacute;nica</option>
<option value="4">Factura Electr&oacute;nica</option>
<option value="19">Factura (Contingencia)</option>
<option value="5">Nota de Venta</option>
</select>

</div>    
</div>
 
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 10px;">
<div class="col-12 div_tipodoc_serie_venta_ser padding_celda_encabezado" style="padding:0px;">
<label   class="d-flex text-start label_titulo_mas_opciones">Serie</label>      
<select name="serie_venta" id="serie_venta" class="form-control css_modal_inputs"   >
<option value="0" hidden="hidden">Seleccione</option>
</select>  
</div>
</div>    
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="">
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0; padding-top: 10px;">
    

 
<label class="control-label label_titulo_mas_opciones"  >Almac&eacute;n</label><br>
<select   name="almacen_empresa" id="almacen_empresa" class="form-control input-sm css_modal_inputs" >
<option>Almacen</option> 
</select>
 


</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="">
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0; padding-top: 10px;">
<label class="control-label label_titulo_mas_opciones"  >Unidad de Transporte:</label><br>
<select id="id_dato_distribucion_1" name="id_unidad_transporte"   class="form-control input-sm css_modal_inputs" >
<option value="0" selected="selected">Seleccione</option>
 
 
</select>
</div>
</div>
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top:10px;">
<div class="col-lg-12 col-md-12 col-sm-12 col-12 row" style="padding:0;">
<label class="control-label label_titulo_mas_opciones"  >Moneda</label><br>
<div class="col-lg-6 col-md-6 col-sm-6 col-6 row" style="padding:2px; background: #EBEBEB; border-radius: 10px; cursor: pointer; margin-bottom: 8px;">
<div class="col-lg-6 col-md-6 col-sm-6 col-6 tipo_m_1" onclick="modal_tipo_moneda(1);" style="border-radius: 10px;background: #ff9c00; color: #fff; font-size: 11px; padding-top: 3px;padding-bottom: 3px;">Soles</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-6 tipo_m_2" onclick="modal_tipo_moneda(2);" style="border-radius: 10px;background: #EBEBEB; color: black; font-size: 11px; padding-bottom: 3px; padding-top: 3px;">D&oacute;lares</div>   
</div>
 
<div class="div_select_tipo_moneda" style="width: 150px; margin-left: 5px; display: none; padding-left: 0px; ">
<select class="form-control" id="moneda" name="moneda" onchange="activa_cambio()" style=" width: 80px !important; background : #fff; color: #000; height: 30px; display: none; padding: 0; border-radius: 5px; border: none;">
<option value="1" selected="selected">Soles</option>
<option value="2">D&oacute;lares</option>
</select>
<input id="tipo_cambio" name="tipo_cambio" autocomplete="off" style="font-size: 12px; padding: 0; width: 60px !important; height: 30px; text-align: center; background : #ECECEC; color: #000; display: none; margin-top: 10px;" type="number" step="any" class="form-control input-sm nlabsac_input nlabsac_input_diurno">
</div>

</div>
</div>  
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top:10px;">
<label class="control-label label_titulo_mas_opciones"  >Referido</label><br>
<input autocomplete="off" style="font-size: 8pt; height: 25px; padding: 0; padding-left: 3px;" type="text" class="form-control input-sm <?php echo $_SESSION['labsac_style_modo_input_general'] . ' ' . $_SESSION['labsac_style_modo_input']; ?>" id="nombre_referido" placeholder="Buscar referido:">
<input autocomplete="off" id="id_referido" name="id_referido" type="hidden" readonly="readonly">

</div>    
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 10px;">
<div class="outer_div_info_general"></div>    
</div> 
<div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
<buton onclick="$('#mas_opciones_pos').modal('hide');" style="font-size: 13px; margin: 0 auto;color: #fff; background: #ff9c00; padding: 7px; text-align: center; border-radius: 5px; width: 150px; cursor: pointer; padding-left: 25px; padding-right: 25px;">
Guardar</buton>  
</div>
    
</div>
</div>
</div>
</div>
</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-12 row padding_celda_encabezado" style="margin:0px; margin-top: 5px;">
<div class="col-lg-5 col-md-5 col-sm-8 col-6 padding_titulo_derecha nom_load_products"  >    
<!--CHECK DIVIDIR CUENTA-->
<div>
<label class="container_check">
<input type="checkbox" onclick="
if($(this).val() == 1){
$(this).val(0);
$( '.checks_id_tmp' ).val(0);
$( '.checks_icon_tmp' ).prop('checked', false);
$( '.checks_icon_tmp' ).change();
} else {
$(this).val(1);
$( '.checks_id_tmp' ).val(1);
$( '.checks_icon_tmp' ).prop('checked', true);
$( '.checks_icon_tmp' ).change();
}
" value="0"><span class="checkmark" style="left: -10px !important; top: 2px !important; "></span>
</label>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Productos
</div>
<div class="col-lg-3 col-md-3 col-sm-2 col-4 padding_titulo_derecha cant_load_products text-left desc_movil "  >    
Cantidad
</div>
<div class="col-lg-4 col-md-4 col-sm-2 col-2 padding_titulo_derecha total_load_products precio_titulo_movil display_css_titulo_total"  >    
Total
</div>
</div>




<div id="tamano_derecha" class="div_derecho_2">
<div id="agregar_cotizacion_orden_pos" style="display:none;"></div>    

<div class="row div_derecha_2" >

<table class="table table-condensed table-hover reportes_tabla_principal" id="table_append" style="width: 100% !important; margin-bottom:10px; display: none;"></table>

<div id="div_load_tabla_detalle"></div>
</div>
</div>

<div class="col-12 div_derecho_3 padding_celda_encabezado">
<div class="col-12 padding_celda_encabezado back_footer_totales">    
<div class="btns_total_footer">
<div class="row contenedor_totales_footer  ">

<input type="hidden" readonly="readonly" id="final_isc" value="0.00">
<div id="total_letras" style="display: none;">SON 0.00 SOLES</div>

<div class="col-6 sub_total_venta_pos css_titulo_totales">Subtotal</div>
<div class="col-6 sub_total_venta_pos css_titulo_input_totales">
<input type="text" disabled="disabled" class="input_pos_css_totales"  id="final_subtotal" value="S/0.00"></div>
<div class="col-6 sub_total_venta_pos css_titulo_totales"  >Descuento (%)</div>
<div class="col-6 sub_total_venta_pos css_titulo_input_totales"  >
<input type="text" disabled="disabled" class="input_pos_css_totales"  id="final_descuento" value="S/0.00">
</div>

<div class="col-6 sub_total_venta_pos css_titulo_totales"  >IGV (18%)</div>
<div class="col-6 sub_total_venta_pos css_titulo_input_totales"  >
<input type="text" disabled="disabled" class="input_pos_css_totales"  id="final_igv" value="S/0.00">
</div>
<div class="col-6 total_venta_pos_css css_titulo_total_venta"  >Total</div>
<div class="col-6 total_venta_pos_css css_titulo_input_totales"  >
<input type="text" readonly="readonly" class="input_pos_css_totales_total" id="final_total" name="final_total_js" value="S/0.00">
</div>
</div>


<div class="row " style="width: 100%; text-align: center; margin:0px;">
<div class="col-lg-7 col-md-8 col-7" style="padding: 3px;padding-bottom: 7px;padding-top: 7px; padding-left: 0px;">
<div class="row" style="margin:0px; margin-top:8px;">    
<div class="col-auto clase_movil_botones_pagar btn_cancelar_division" style="padding-left:0px; display: none;">
<button  type="button" class="btn" onclick="dividir_cuenta_seleccion(2);" style="background: #F0F0F0; border:0px; padding-top: 5px; padding-bottom: 0px; height: 50px; padding-left: 4px; padding-right: 4px;">
Cancelar
</button>
</div> 
<div class="col-auto clase_movil_botones_pagar  icono_footer_derecha_1 " style="padding-left:0px;">
 
</div>
    
<div class="col-auto clase_movil_botones_pagar  icono_footer_derecha_2">
<button  type="button" class="btn" style="background: #F0F0F0;  border:0px;display: none; padding-top: 5px; padding-bottom: 0px; height: 50px; padding-left: 4px; padding-right: 4px;">
<i class="dripicons-swap" style="font-size: 18px;"></i>
<label style="font-size: 10px; display: block; margin-bottom:  3px;">Transferir</label>
</button>   
</div>
<div class="col-auto clase_movil_botones_pagar icono_footer_derecha_3">
<button  type="button" class="btn" onclick="dividir_cuenta_seleccion(1);" style="display: none; background: #F0F0F0;  border:0px; padding-top: 5px; padding-bottom: 0px; height: 50px;">
<i class="bx bx-receipt" style="font-size: 22px;"></i>
<label style="font-size: 10px; display: block; margin-bottom:  3px;">Dividir</label>
</button>   
</div>    

</div> 
</div>
<div class="col-lg-5 col-md-4 col-5" style="padding: 3px;padding-bottom: 7px;padding-top: 7px;padding-right: 0px;">
  
<button onclick="var tipo_op = $('#tpodoc').val(); if(tipo_op == 50 || tipo_op == 51){ $('#btn_pos_pagar').css('display', 'none');  btn_coti_orden_POS(); } else {POS_pagar();}" id="btn_pos_pagar" type="button" class="btn" style="margin-top: 8px; width: 100%; font-size: 16px; float:right; height: 50px; border-radius: 0px; background: #FF4E00; color: white;">
<span class="span_boton_pagar " style="float: left;">PAGAR</span> 
<svg xmlns="http://www.w3.org/2000/svg" class="pagar_venta" width="20" height="20" viewBox="0 0 24 24"><g transform="rotate(180 12 12)"><path fill="#fff" d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"/></g></svg>
</button>
 
<button onclick="actualizar_cambios_cuentas();" id="guardar_cambios_dividir" type="button" class="btn btn_guardar_cambios_pos" >
<span class=" " style="float: left;">Guardar Cambios</span>
</button>    
</div> 
   
<div class="agregar_factura" style="border-radius: 5px; padding-top: 0px; padding-bottom: 0px;"></div>
</div>


</div>
</div>
</div>
</div> 
</div>
</form>



<input value="0" id="select_panel_value" type="hidden">

 
<!-- Modal -->
<div class="modal fade in" id="modal_buscar_cliente" role="dialog" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog "  style="">
<!-- Modal content-->
<div class="modal-content" style="border-radius:0px;">
<div class="modal-header" style="border:0px; padding-bottom: 0px;">
<button type="button" class="close  btn-close "  style="font-size: 12pt;" onclick="$('#modal_buscar_cliente').modal('hide');$('#buscar_cliente_mod').val('');"></button>
</div>
<div class="modal-body text-center" style="padding-left: 0px; padding-right:0px; padding-bottom:0px;">
<p style="font-weight: bold; font-size: 18px; color: #000000; ">&#161;Seleccione cliente&#33;</p>
<div class="col-12" style="padding-left: 10px; padding-right: 10px;">
<input autocomplete="off" style="font-size: 8pt; height: 25px; padding: 0; padding-left: 3px;" type="text" class="form-control input-sm " id="buscar_cliente_mod" placeholder="Buscar Cliente:"  value="">
</div>
</div>
<div class="modal-footer" style="border:0px;">
<div class="row col-12">    
<div class="col-12 text-center">
<button type="button" class="btn btn-default" style="font-size: 13px; border:1px solid #FF4E00; background: #FF4E00; color: #fff;" onclick="$('#modal_buscar_cliente').modal('hide');$('#buscar_cliente_mod').val('');" >Continuar</button>
</div>
</div>
</div>
</div>

</div>
</div>
<script src="/axios/axios.min.js"></script>
<script src="../../scripts/funciones.js"></script>
<div class="resultado_precuenta"></div>
<div class="resultado_division_cuenta_update"></div>
<div class="resultado_modal_lista_precio"></div>

<script>
function modal_tipo_moneda(tipo){
if(tipo == 1){
$('.tipo_m_1').css('background', '#ff9c00'); 
$('.tipo_m_1').css('color', '#fff');  
$('.tipo_m_2').css('background', '#EBEBEB'); 
$('.tipo_m_2').css('color', 'black'); 
$('#moneda').val('1'); 
activa_cambio();
}
if(tipo == 2){
$('.tipo_m_2').css('background', '#ff9c00'); 
$('.tipo_m_2').css('color', '#fff');  
$('.tipo_m_1').css('background', '#EBEBEB'); 
$('.tipo_m_1').css('color', 'black');    
$('#moneda').val('2'); 
$('.div_select_tipo_moneda').css('display', '');
activa_cambio();
}

}

function adaptar_pos() {
  // ADAPTAR LADO DERECHO - IZQUIERDO
  var height_window = window.innerHeight;
  var width_pantalla_movil_derecha = parseInt(window.innerWidth);
  var cantidad_desminucion_movil;
  var cantidad_dis_izquierda;
  
  if (width_pantalla_movil_derecha <= 768) {
    cantidad_desminucion_movil = 185;
    cantidad_dis_izquierda = 10;
  } else {
    cantidad_desminucion_movil = 105;
    cantidad_dis_izquierda = 30;
  }
  
  document.getElementById('lado_izquierdo').style.height = height_window + 'px';
  document.getElementById('lado_derecho').style.height = (height_window - 20) + 'px';
  
  var ver_puntos_div = document.querySelector('.ver_puntos').offsetHeight;
  var height_div_izquierdo_1 = document.querySelector('.div_izquierdo_1').offsetHeight;
  var div_izquierdo_3 = document.querySelector('.div_izquierdo_3').offsetHeight;
  var tamano_izquierda = height_window - height_div_izquierdo_1 - div_izquierdo_3 - cantidad_dis_izquierda;
  document.getElementById('tamano_izquierda').style.height = tamano_izquierda + 'px';
  
  var div_derecho_1 = document.querySelector('.div_derecho_1').offsetHeight;
  var div_derecho_3 = document.querySelector('.div_derecho_3').offsetHeight;
  var tamano_derecha = height_window - div_derecho_1 - div_derecho_3 - cantidad_desminucion_movil - ver_puntos_div;
  document.getElementById('tamano_derecha').style.height = tamano_derecha + 'px';
  
  // ADAPTAR DIV_1 DEL LADO IZQUIERDO
  var width_div_izquierdo_1 = document.querySelector('.div_izquierdo_1').offsetWidth;
  var div_select_vendedor = document.querySelector('.div_select_vendedor').offsetWidth;
  //var div_separator_1 = document.querySelector('.div_separator_1').offsetWidth;
  var div_separator_1 = 0;
  //var div_separator_2 = document.querySelector('.div_separator_2').offsetWidth;
    var div_separator_2 = 0;
  var div_registrar_producto = document.querySelector('.div_registrar_producto').offsetWidth;
  //var div_separator_3 = document.querySelector('.div_separator_3').offsetWidth;
  var div_separator_3 = 0;
  var div_cambio_vista_producto = document.querySelector('.div_cambio_vista_producto').offsetWidth;
  
  if (width_div_izquierdo_1 <= 370) {
    div_separator_1 = 10;
    div_separator_2 = 10;
    div_separator_3 = 10;
    document.querySelector('.div_separator_1').style.width = div_separator_1 + 'px';
    document.querySelector('.div_separator_2').style.width = div_separator_2 + 'px';
    document.querySelector('.div_separator_3').style.width = div_separator_3 + 'px';
  }
  
  var div_buscar_producto = width_div_izquierdo_1 - (div_select_vendedor + div_separator_1 + div_separator_2 + div_registrar_producto + div_separator_3 + div_cambio_vista_producto + 30);
  //document.querySelector('.div_buscar_producto').style.width = div_buscar_producto + 'px';
  
// ADAPTAR DIV_1 LADO DERECHO
  var width_div_derecho_1 = document.querySelector('.div_derecho_1').offsetWidth;
  var div_select_serie = document.querySelector('.div_select_serie').offsetWidth;
  var div_input_num_factura = document.querySelector('.div_input_num_factura').offsetWidth;
  var div_select_tipodoc = width_div_derecho_1 - (div_select_serie + div_input_num_factura + 100);
  //document.querySelector('.div_select_tipodoc').style.width = div_select_tipodoc + 'px';
  
  var div_btn_cliente = document.querySelector('.div_btn_cliente').offsetWidth;
  var div_select_tipo_despacho = document.querySelector('.div_select_tipo_despacho').offsetWidth;
  var div_select_tipo_moneda = document.querySelector('.div_select_tipo_moneda').offsetWidth;
  var div_input_cliente = width_div_derecho_1 - (div_btn_cliente + div_select_tipo_despacho + div_select_tipo_moneda + 30);
  //document.querySelector('.div_input_cliente').style.width = div_input_cliente + 'px';
  
  // ADAPTAR DIV INFO CLIENTE
  var div_load_info_cliente = height_window - 50;
  //document.querySelector('.div_load_info_cliente').style.height = div_load_info_cliente + 'px';
  
  // ADAPTAR DIV INFO PRODUCTO
  var div_load_info_producto = height_window - 50;
  //document.querySelector('.div_load_info_producto').style.height = div_load_info_producto + 'px';
  
  // ADAPTAR DIV POS PAGAR
  var div_pos_pagar = height_window - 50;
  document.querySelector('.div_pos_pagar').style.height = div_pos_pagar + 'px';
}

const contador_adaptar_pos = () => {
adaptar_pos();
};

setInterval(contador_adaptar_pos, 500);



//EJECUTAR AL CARGAR LA PAGINA
document.addEventListener("DOMContentLoaded", function (event) {
opciones_colaboradores();  
});
</script>
 
    

    











 


  </body>
</html>