<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Libreria negocia.pe</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
 <link rel="stylesheet" href="../../css/estilos_pos.css" type="text/css">

<!-- JQUERY -->
<script src="{{EC2_DOMINIO}}crm/assets/libs/jquery/jquery.min.js?v=4" type="text/javascript"></script>

<!-- BOOTSTRAP 5 -->
<link href="{{EC2_DOMINIO}}crm/assets/css/bootstrap.min.css?v=4" id="bootstrap-style" rel="stylesheet" type="text/css" />
<script src="{{EC2_DOMINIO}}crm/assets/libs/bootstrap/js/bootstrap.bundle.min.js?v=3"></script>

<!-- CSS PRINCIPAL -->
<link href="{{EC2_DOMINIO}}css/css_negocia.css?v=00001" rel="stylesheet" type="text/css">

<!-- JS PRINCIPAL -->
<script src="{{EC2_DOMINIO}}js/funcion_ajax.js?v=00010" type="text/javascript"></script>
<link href="{{EC2_DOMINIO}}css/paginacion_dinamica.css?v=4" rel="stylesheet" type="text/css">
<!-- ICONOS FONT AWESOME -->
<link href="{{EC2_DOMINIO}}css/iconos/css/font-awesome.min.css?v=00001" rel="stylesheet" type="text/css">
<link href="{{EC2_DOMINIO}}crm/assets/css/icons.min.css?v=4" rel="stylesheet" type="text/css" />

<!-- ALERTAS SWEETALERT -->
<link rel="stylesheet" href="{{EC2_DOMINIO}}Operaciones/SweetAlert2/sweetalert2.min.css?v=00001">
<script src="{{EC2_DOMINIO}}Operaciones/SweetAlert2/sweetalert2.all.min.js?v=00001"></script>

<!-- VENTANA PARA IMPRIMIR -->
<script src="{{EC2_DOMINIO}}Operaciones/js/VentanaCentrada.js?v=00001" type="text/javascript"></script>

<!-- TIPO DE FUENTE -->
<link href="//fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">

<!--COD PAISES-->
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<!-- SELECT2 - NUEVO -->
<link href="{{EC2_DOMINIO}}config/select2/select2.min.css?v=11" rel="stylesheet">
<script src="{{EC2_DOMINIO}}config/select2/select2.min.js?v=11"></script>

<!-- ICONO LOGO -->
<link rel="apple-touch-icon" sizes="57x57" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_favicon-16x16.png">
<!--<link rel="manifest" href="{{EC2_DOMINIO}}images/logo/manifest.json">-->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/metas_ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!--TITLE-->
<title>Pos Múltiple</title>

  </head>
<body id="body_contenedor">
<!--MENU-->
{{#if data.menu_renew}}
<!-- HEADER -->
<div class="row menu_nav_principal_pos encabezado_pos_general" >
<div class="top_ventana"></div>
<!--PESTAÑAS MULTIPLES-->
<div class="col-7 col-sm-7 col-md-7 col-lg-8" >
<div class="div_tabla_tabs"  >
<table>
<tr>
<td class="td_menu_lateral p_inline td_burger_icon" >
<div onclick="$('.nav_lateral').toggle('display', '');">
<img src="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/1.png" style="width: 20px; margin-bottom: 5px; cursor: pointer">
</div>
</td>
<td id="content_append_pestanias">
<input type="hidden" id="final_top" name="final_top">
<input type="hidden" id="id_final_top" name="id_final_top">  

     
</td>


<td class="pestania_adicional_mas css_padding_pestana_index p_inline" style="padding-bottom: 0;padding-right: 0;">


  
<div class="tab_mas css_tab_secundario_mas" 
onclick="permiso_crear_piso(1);" style="width: auto; padding-top: 2px; ">
<div style="background: #E6E6E6; border-radius: 15%; font-size: 25px;color: #666;width: 34px; height: 30px;">
<div class="centrar_mas">
<svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 20 20" fill="none">
  <path fill="#000000" fill-rule="evenodd" d="M9 17a1 1 0 102 0v-6h6a1 1 0 100-2h-6V3a1 1 0 10-2 0v6H3a1 1 0 000 2h6v6z"/>
</svg>
</div>
</div>
</div>
<input type="hidden" value="0" id="contador_mas_menos">
<input type="hidden" value="0" id="id_pestania_db">
<input type="hidden" value="0" id="id_pestania_actual">


</td>
<td class="ver_all_pestanias css_padding_pestana_index p_inline" style="padding-bottom: 0;padding-right: 0;">
<div class="tab_mas css_tab_secundario_mas" 
onclick="" style="width: 80px; padding-top: 6px;">
<div style="color: #FF5900; border-radius: 15%; font-size: 13px;">
<div class="centrar_mas"
onclick="load_pestanias(2); $('.bloque_pestanias_all').removeClass('d-none');
$('.p_iframes').addClass('d-none');">

Ver todas 
<svg xmlns="http://www.w3.org/2000/svg" width="13px" height="13px" viewBox="0 0 24 24">
<title></title>
<g id="Complete">
<g id="arrow-right">
<g>
<polyline data-name="Right" fill="none" id="Right-2" points="16.4 7 21.5 12 16.4 17" stroke="#FF5900" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
<line fill="none" stroke="#FF5900" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12" y2="12"/>
</g>
</g>
</g>
</svg>


<i class="bx bx-chevron-down icono_arrow_ver_mas_movil" style="display:none;"></i> 

</div>
</div>
</div>
</td> 
</tr>
</table>

</div>
</div>

<!--NOMBRE DE SUCURSAL-->
<div class="col-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0px; text-align: left; font-weight: 400; padding-top: 11px;">
<a href="javascript:void(0)" data-bs-toggle="modal" class="d-flex justify-content-left align-items-center" data-bs-target="#modal_session_sucursal" style="color: #333; background: transparent; cursor: pointer;">
<svg xmlns="http://www.w3.org/2000/svg" fill="#ff5900" width="20px" height="20px" viewBox="0 0 24 24"><path d="M19.148 2.971A2.008 2.008 0 0 0 17.434 2H6.566c-.698 0-1.355.372-1.714.971L2.143 7.485A.995.995 0 0 0 2 8a3.97 3.97 0 0 0 1 2.618V19c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-8.382A3.97 3.97 0 0 0 22 8a.995.995 0 0 0-.143-.515l-2.709-4.514zm.836 5.28A2.003 2.003 0 0 1 18 10c-1.103 0-2-.897-2-2 0-.068-.025-.128-.039-.192l.02-.004L15.22 4h2.214l2.55 4.251zM10.819 4h2.361l.813 4.065C13.958 9.137 13.08 10 12 10s-1.958-.863-1.993-1.935L10.819 4zM6.566 4H8.78l-.76 3.804.02.004C8.025 7.872 8 7.932 8 8c0 1.103-.897 2-2 2a2.003 2.003 0 0 1-1.984-1.749L6.566 4zM10 19v-3h4v3h-4zm6 0v-3c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v3H5v-7.142c.321.083.652.142 1 .142a3.99 3.99 0 0 0 3-1.357c.733.832 1.807 1.357 3 1.357s2.267-.525 3-1.357A3.99 3.99 0 0 0 18 12c.348 0 .679-.059 1-.142V19h-3z"/></svg>&nbsp;&nbsp;
<div class="co_tipografia_p" style="text-transform: capitalize; font-size: 13px; color: #464646; font-weight: 400; display: inline-block; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important;">
Sucursal - Myperu
</div>
</a>
</div>

<!--PERFIL DE USUARIO-->
<div class="col-3 col-sm-3 col-md-3 col-lg-2 row" style="padding-top: 3px;">
 
<div class="col-lg-8 col-md-8 col-sm-1 col-1 d-flex align-items-center">
<div class="col-12 class_width_nombre_usuario" style="font-size: 13px;  line-height: 1.2; text-align: right; color: #464646; font-weight: 400; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; ">
  <?php echo $n_usuario_sesion; ?>
  <br>
  <span style="color: #A3A3A3;font-size: 13px; ">Vendedor</span> </div> 
</div>    
<div class="col-4" style="margin: 0 auto; margin-right: 0; margin-top: 4px; width: 30px; height: 30px; padding:0; border-radius: 50%; background-color: #ff5900; text-align: center; font-size: 16px; color: #fff; padding-top: 3px; font-weight: 700; margin-left: 5px; margin-right: 5px;">
D
</div>

 
</div>

<div class="d-none clase_prueba_vendedor_actualizar"></div>
<script>
$( document ).ready(function() { 
var ancho_n_usuario_session = $('.class_width_nombre_usuario').width();
$('.class_width_nombre_usuario').css('max-width', ancho_n_usuario_session+'px');
var ancho_n_usuario_session_sucursal = $('.class_width_nombre_sucursal').width();
 
$('.co_tipografia_p').css('max-width', ancho_n_usuario_session_sucursal+'px');
});


</script>


</div>


<header class="main-header">
<!--MENU LATERAL-->    
<nav style="display: none; top:42px; height: calc(100vh - 42px); background: #EBEBEB;" class="nav_lateral">
<ul class="navigation" style="padding-left: 11px;">

<li>
<div class="row">
<div class="col-1 col-sm-1 col-md-2 col-lg-2 d-flex align-items-center  p-0">
 
<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="20px" viewBox="0 0 24 24">
<path fill="#ff9c00" d="M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293l-1.414-1.414L4.586 12l6.707 6.707z"/>
</svg>
</div>
<div class="col-10 p-0 btn_regresar_pos_index">
<a href="{{EC2_DOMINIO}}Inicio.php">    

<span data-key="t-regresar"  class="btn_regresar_pos_index">Regresar al Men&uacute; principal</span>
</a>
</div>    
</div> 
    

</li>
    

<li>
<?php
if(!empty($_SESSION['neg_reg_venta_ing_6'])){
?>
<div class="row">
<div class="col-1 col-sm-1 col-md-2 col-lg-2 d-flex align-items-center p-0">
<svg xmlns="http://www.w3.org/2000/svg" class="icon_li_pos" viewBox="0 0 24 24"><path fill="currentColor" d="m10.998 16l5-4l-5-4v3h-9v2h9z"/><path fill="currentColor" d="M12.999 2.999a8.938 8.938 0 0 0-6.364 2.637L8.049 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051S20 10.13 20 12s-.729 3.628-2.051 4.95s-3.08 2.051-4.95 2.051s-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637C21.063 16.665 22 14.405 22 12s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z"/></svg>
</div>
<div class="col-10 p-0">
<!-- hint--right hint--primario hint--no-animate -->
<a class=" ubicacion_contenido_css_movil"   onclick="$('#nuevo_ingreso_pos').modal('show');" href="javascript:void(0);" style="text-decoration: none; color: #000;"> <span class="clase_gasto_movil color_movil_letra_css">Ingreso de Dinero</span> </a> 
</div>    
</div>    
<?php    
}
?>
</li>


<li>
<?php
if(!empty($_SESSION['neg_realizar_compra_gasto_10'])) {
?>    
<div class="row">
<div class="col-1 col-sm-1 col-md-2 col-lg-2 d-flex align-items-center p-0">
<svg xmlns="http://www.w3.org/2000/svg" class="icon_li_pos" viewBox="0 0 24 24"><path fill="currentColor" d="m2 12l5 4v-3h9v-2H7V8z"/><path d="M13.001 2.999a8.938 8.938 0 0 0-6.364 2.637L8.051 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051s2.051 3.08 2.051 4.95s-.729 3.628-2.051 4.95s-3.08 2.051-4.95 2.051s-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637c1.7-1.699 2.637-3.959 2.637-6.364s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z"/></svg>
</div>
<div class="col-10 p-0">
<a class="ubicacion_contenido_css_movil"  onclick="$('#nuevo_gasto').modal('show');" href="javascript:void(0);" style="text-decoration: none; color: #000;">  <span class="clase_gasto_movil color_movil_letra_css">Retiro de Dinero</span> </a>  
</div>    
</div>
<?php    
}
?>
</li>

<li> 
<div class="row">
<div class="col-1 col-sm-1 col-md-2 col-lg-2 d-flex align-items-center p-0">
<svg xmlns="http://www.w3.org/2000/svg" class="icon_li_pos" viewBox="0 0 24 24"><path d="M19.148 2.971A2.008 2.008 0 0 0 17.434 2H6.566c-.698 0-1.355.372-1.714.971L2.143 7.485A.995.995 0 0 0 2 8a3.97 3.97 0 0 0 1 2.618V19c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-8.382A3.97 3.97 0 0 0 22 8a.995.995 0 0 0-.143-.515l-2.709-4.514zm.836 5.28A2.003 2.003 0 0 1 18 10c-1.103 0-2-.897-2-2c0-.068-.025-.128-.039-.192l.02-.004L15.22 4h2.214l2.55 4.251zM10.819 4h2.361l.813 4.065C13.958 9.137 13.08 10 12 10s-1.958-.863-1.993-1.935L10.819 4zM6.566 4H8.78l-.76 3.804l.02.004C8.025 7.872 8 7.932 8 8c0 1.103-.897 2-2 2a2.003 2.003 0 0 1-1.984-1.749L6.566 4zM10 19v-3h4v3h-4zm6 0v-3c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v3H5v-7.142c.321.083.652.142 1 .142a3.99 3.99 0 0 0 3-1.357c.733.832 1.807 1.357 3 1.357s2.267-.525 3-1.357A3.99 3.99 0 0 0 18 12c.348 0 .679-.059 1-.142V19h-3z"/></svg>

</div>
<div class="col-10 p-0">
<a class="ubicacion_contenido_css_movil" onclick=" $('.color_tr_1').click(); $('#modal_modulo_fn_turno').modal('show');"  href="javascript:void(0);" style="text-decoration: none; color: #000; "> <span class="clase_gasto_movil_reporte color_movil_letra_css"  >Turnos</span> </a>  
</div>    
</div>    
</li>

<li>
<?php
if(!empty($_SESSION['neg_ver_venta_ing_6'])) {
?>    
<div class="row">
<div class="col-1 col-sm-1 col-md-2 col-lg-2 d-flex align-items-center p-0">
<svg xmlns="http://www.w3.org/2000/svg" class="icon_li_pos"  viewBox="0 0 24 24"><path  d="M20 7h-4V4c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H4c-1.103 0-2 .897-2 2v9a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V9c0-1.103-.897-2-2-2zM4 11h4v8H4v-8zm6-1V4h4v15h-4v-9zm10 9h-4V9h4v10z"/></svg>
</div>
<div class="col-10 p-0">
<a class="  ubicacion_contenido_css_movil"  onclick="window.open('{{EC2_DOMINIO}}Operaciones/Ingresos.php', '_blank');" href="javascript:void(0);" style="text-decoration: none; color: #000; ">   <span class="clase_gasto_movil_reporte color_movil_letra_css">Ventas del Turno</span> </a>  
</div>    
</div>    
<?php    
}
?>
</li>

<li>   
<div class="row">
<div class="col-1 col-sm-1 col-md-2 col-lg-2 d-flex align-items-center p-0">
<svg xmlns="http://www.w3.org/2000/svg" class="icon_li_pos" viewBox="0 0 24 24"><path d="M12 16c2.206 0 4-1.794 4-4s-1.794-4-4-4s-4 1.794-4 4s1.794 4 4 4zm0-6c1.084 0 2 .916 2 2s-.916 2-2 2s-2-.916-2-2s.916-2 2-2z"/><path fill="currentColor" d="m2.845 16.136l1 1.73c.531.917 1.809 1.261 2.73.73l.529-.306A8.1 8.1 0 0 0 9 19.402V20c0 1.103.897 2 2 2h2c1.103 0 2-.897 2-2v-.598a8.132 8.132 0 0 0 1.896-1.111l.529.306c.923.53 2.198.188 2.731-.731l.999-1.729a2.001 2.001 0 0 0-.731-2.732l-.505-.292a7.718 7.718 0 0 0 0-2.224l.505-.292a2.002 2.002 0 0 0 .731-2.732l-.999-1.729c-.531-.92-1.808-1.265-2.731-.732l-.529.306A8.1 8.1 0 0 0 15 4.598V4c0-1.103-.897-2-2-2h-2c-1.103 0-2 .897-2 2v.598a8.132 8.132 0 0 0-1.896 1.111l-.529-.306c-.924-.531-2.2-.187-2.731.732l-.999 1.729a2.001 2.001 0 0 0 .731 2.732l.505.292a7.683 7.683 0 0 0 0 2.223l-.505.292a2.003 2.003 0 0 0-.731 2.733zm3.326-2.758A5.703 5.703 0 0 1 6 12c0-.462.058-.926.17-1.378a.999.999 0 0 0-.47-1.108l-1.123-.65l.998-1.729l1.145.662a.997.997 0 0 0 1.188-.142a6.071 6.071 0 0 1 2.384-1.399A1 1 0 0 0 11 5.3V4h2v1.3a1 1 0 0 0 .708.956a6.083 6.083 0 0 1 2.384 1.399a.999.999 0 0 0 1.188.142l1.144-.661l1 1.729l-1.124.649a1 1 0 0 0-.47 1.108c.112.452.17.916.17 1.378c0 .461-.058.925-.171 1.378a1 1 0 0 0 .471 1.108l1.123.649l-.998 1.729l-1.145-.661a.996.996 0 0 0-1.188.142a6.071 6.071 0 0 1-2.384 1.399A1 1 0 0 0 13 18.7l.002 1.3H11v-1.3a1 1 0 0 0-.708-.956a6.083 6.083 0 0 1-2.384-1.399a.992.992 0 0 0-1.188-.141l-1.144.662l-1-1.729l1.124-.651a1 1 0 0 0 .471-1.108z"/></svg>
</div>
<div class="col-10 p-0">
<a class="  ubicacion_contenido_css_movil"  onclick="window.open('{{EC2_DOMINIO}}configuraciones/otras_configuraciones_index.php?direct=15', '_blank')" href="javascript:void(0);" style="text-decoration: none; color: #000;">
<span class="clase_gasto_movil_config color_movil_letra_css">Configuraciones</span> 
</a>
</div>    
</div>       
</li>
<?php
if(!empty($_SESSION['neg_aperturar_cerrar_turno_42'])){
?>
<li>
 
<div class="row">
<div class="col-1 col-sm-1 col-md-2 col-lg-2 d-flex align-items-center p-0">
<svg xmlns="http://www.w3.org/2000/svg" class="icon_li_pos_orange" viewBox="0 0 24 24"><path  d="M12 21c4.411 0 8-3.589 8-8c0-3.35-2.072-6.221-5-7.411v2.223A6 6 0 0 1 18 13c0 3.309-2.691 6-6 6s-6-2.691-6-6a5.999 5.999 0 0 1 3-5.188V5.589C6.072 6.779 4 9.65 4 13c0 4.411 3.589 8 8 8z"/><path  d="M11 2h2v10h-2z"/></svg> 
</div>
<div class="col-10 d-flex align-items-center p-0">
<a class="ubicacion_contenido_css_movil" onclick="<?php if(!empty($_SESSION['IDAPERTURA'])){ ?> btn_cerrar_turno(); <?php }else{ ?> $('#turno_apertura').modal('show');  <?php } ?>"   href="javascript:void(0);" style="text-decoration: none; color: #000;"> 
<span class="clase_gasto_movil_config color_movil_letra_css" style="color: #ff9c00;" > Abrir Turno
<?php
if(!empty($_SESSION['IDAPERTURA'])){
echo 'Cerrar Turno';    
}else{
echo 'Abrir Turno';      
}
?>
</span> 
</a> 
</div>    
</div>    
    

</li>
<?php
}
?>


</ul>
    
<ul class="navigation" style="position: absolute; bottom: 0; padding-left: 13px; width: 100%;">
<li class="clase_movil_expandir">
<div class="row">
<input type="hidden" id="input_fullscreen" value="2" readonly="readonly">    
<div class="col-1 col-sm-1 col-md-2 col-lg-2 d-flex align-items-center p-0">
 
<svg xmlns="http://www.w3.org/2000/svg" class="icon_li_pos" viewBox="0 0 24 24"><path  d="m21 15.344l-2.121 2.121l-3.172-3.172l-1.414 1.414l3.172 3.172L15.344 21H21zM3 8.656l2.121-2.121l3.172 3.172l1.414-1.414l-3.172-3.172L8.656 3H3zM21 3h-5.656l2.121 2.121l-3.172 3.172l1.414 1.414l3.172-3.172L21 8.656zM3 21h5.656l-2.121-2.121l3.172-3.172l-1.414-1.414l-3.172 3.172L3 15.344z"/></svg>

</div>
<div class="col-10 p-0">
<a class="  "   onclick="fullscreen();" style="text-decoration: none; color: #000; cursor: pointer;"> 
<span class="clase_gasto_movil_config color_movil_letra_css">Expandir</span>     
</a>    
</div>    
</div>      
</li>
<!--
<li style="padding: 0 !important; display: none;" class="nuevo_li">
<a class="ubicacion_contenido_css_movil" 
onclick="window.open('{{EC2_DOMINIO}}Inicio.php', '_blank')" href="javascript:void(0);" 
style="text-decoration: none; background: white;padding-left: 20px;">
<img src="{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/LogoNaranjasola.png" class="altura_img_movil" style="width: 20px;"> 
<span class="clase_gasto_movil_config " style="display:none; color: black;font-weight: bold;">Volver a <?php echo str_replace('/', '', str_replace('https://', '', $_SESSION['EC2_DOMINIO'])); ?></span> 
</a>
</li>-->

</ul>
    
</nav>
</header>

<div class="modal fade" id="cambiar_nombre_pestana" style=" ">
<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
<div class="modal-content" style="border-radius: 0px !important;">
<div class="modal-header" style="display:block;">
<div class="row">
<div class="col-3"> <i class="bx bx-arrow-back d-none"> </i></div>
<div class="col-6 text-center"><img src="{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/icono_modal_cambiar_nombre.png" style="width: 60px; padding-top: 15px;"></div>
<div class="col-3"><button type="button" class="close  btn-close " onclick="load_pestanias(4);" data-bs-dismiss="modal" aria-label="Close" style="float: right; font-size: 10px;"></button></div>
</div>
</div>
<div class="modal-body" >

<div class="row">
<div class="col-12 mb-1" style="font-weight: bold;">Piso</div>
<div class="col-12 load_piso" style="">
</div>
<div class="col-12 mb-1" style="font-weight: bold;">Nuevo nombre</div>
<div class="col-12 mb-2">
<input type="text" class="form-control input-sm" autocomplete="off" id="nombre_pestana" style="font-size: 13px; height: 30px; padding: 2px;">
</div>

<div class="div_cambio_mesa">
<div class="col-12 mb-1" style="font-weight: bold;">Cambiar mesa</div>
<div class="col-12 mb-2 generar_select_cambio_mesa"></div>
</div>

<div class="div_unir_mesa">
<div class="col-12 mb-1" style="font-weight: bold;">Unir mesa</div>
<div class="col-12 mb-2 generar_select_unir_mesa"></div> 
</div>

<input class="form-control input-sm" type="hidden" id="input_pestana_tipo" value="0" style="font-size: 13px; height: 35px; padding: 0; ">
<br>
<p style="color: #999; font-size: 13px; line-height: 1.3; font-weight: normal;padding-top:10px; text-align: justify;">Cuando ingreses en una pr&oacute;xima sesi&oacute;n la 
pesta&ntilde;a se mantendr&aacute; fija con los cambios aplicados. <a onclick="$('#cambiar_nombre_pestana').modal('hide'); load_pestanias(4);$('#cambiar_nombre_pestana').modal('hide');" style="color: #ff5900; cursor: pointer;">Omitir</a></p>
</div>
    
</div>
    
    

<div class="row text-center">

<div class="col-12 mb-3" style="padding-right: 0px;"><button type="button" class="btn pv_btn_color_modal" onclick="evento_nombre_pestana(0, 4, ''); load_pestanias(4); $('#cambiar_nombre_pestana').modal('hide');"
style="width: 150px;">Guardar</button></div>

<div class="col-6 col-6 d-flex justify-content-end p-0 d-none" ><button type="button" class="btn pv_btn_color_modal" onclick="evento_nombre_pestana(0, 2, '');$('#cambiar_nombre_pestana').modal('hide');" 
style="width: auto;">Guardar para esta venta</button></div>

</div>
<script>
function load_pisos(id_mesa_general){
var data = new FormData();
data.append('select_piso', 1);
data.append('id_mesa_general', id_mesa_general);
eval(devolver_ajax(2, '{{EC2_DOMINIO}}Operaciones/modal/modal_crear_piso_POS.php', 'data', '.load_piso', ''));    
}

function limpiar_functions_mesas(){
$('.div_cambio_mesa, .div_unir_mesa').addClass('d-none');
unir_mesa_array = [];
}

function generar_select_cambio_mesa(){
$('.div_cambio_mesa').removeClass('d-none');
var data = new FormData();
data.append('generar_select_cambio_mesa', 1);
eval(devolver_ajax(4, '{{EC2_DOMINIO}}POS/index.php', 'data', '.generar_select_cambio_mesa', ''));    
}

function generar_select_unir_mesa(id_mesa){
$('.div_unir_mesa').removeClass('d-none');
var data = new FormData();
data.append('generar_select_unir_mesa', 1);
data.append('id_mesa', id_mesa);
eval(devolver_ajax(4, '{{EC2_DOMINIO}}POS/index.php', 'data', '.generar_select_unir_mesa', ''));    
}

</script>   

</div>

</div>
</div>

<!--CAMBIAR PERMANENTEMENTE EL NOMBRE MODAL-->
<div class="modal fade" id="modal_guardar_nuevo_nombre" >
<div class="modal-dialog modal-md modal-dialog-centered" role="document">
<div class="modal-content" style="border-radius: 0px !important;">
<div class="" style="padding: 15px;">
<div class="row">
<div class="col-3"></div>
<div class="col-6 text-center"><img src="{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/icono_modal_cambiar_nombre.png" style="width: 60px; padding-top: 15px;"></div>
<div class="col-3"><button type="button" class="close  btn-close " data-bs-dismiss="modal" aria-label="Close" style="float: right; font-size: 11px;"></button></div>
</div>
</div>
<div class="modal-body" >

<div class="row">
<div class="col-1"></div>    
<div class="col-10 text-center" style="font-weight: bold; font-size: 16px;">&#191;Est&aacute;s seguro que deseas cambiar el nombre permanente?
<br> <p style="color: #bcbcbc; font-size: 13px; line-height: 1.3; font-weight: normal;padding-top:10px;">Cuando ingreses en una pr&oacute;xima sesi&oacute;n la pesta&ntilde;a <br> se mantendr&aacute; fija con los cambios aplicados</p>
</div>
<div class="col-1"></div>

</div>
<div class="row" style="margin-top:18px;">
<div class="col-6 d-flex justify-content-end" style="padding-right: 0px;"><button type="button" class="btn pv_btn_color_modal" onclick="$('#modal_guardar_nuevo_nombre').modal('hide');" style="background: none; width: auto; color: #FF4E00 !important; margin: 0px; padding-left:13px; padding-right: 13px;">Cancelar</button> </div>
<div class="col-6 col-6 d-flex justify-content-start " ><button type="button" class="btn pv_btn_color_modal" onclick="evento_nombre_pestana(0, 4, '');" style="width: auto;margin: 0px; padding-left:13px; padding-right: 13px; ">Cambiar</button></div>
</div>
   
<div class="cargar_nuevo_nombre_pestana"></div>  
</div>
    
</div>
</div>
</div>

<!--ELIMINAR PERMANENTEMENTE EL NOMBRE MODAL-->
<div class="modal fade" id="modal_eliminar_ventana" >
<div class="modal-dialog modal-sm modal-dialog-centered" role="document" style="width: 400px;">
<div class="modal-content" style="border-radius: 0px !important;">
<div class="" style="padding: 15px;">
<div class="row">
<div class="col-3"></div>
<div class="col-6 text-center"><img src="{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/icono_modal_eliminar_ventana.png" style="width: 50px; padding-top: 15px;"></div>
<div class="col-3"><button type="button" class="close  btn-close " data-bs-dismiss="modal" aria-label="Close" style="float: right; font-size: 11px;"></button></div>
</div>
</div>
<div class="modal-body" >

<div class="row">
<div class="col-1"></div>    
<div class="col-10 text-center" style="font-weight: bold; font-size: 14px;">&#191;Est&aacute;s seguro que deseas eliminar la pesta&ntilde;a?
<br> 
</div>
<div class="col-1"></div>

</div>
<div class="row" style="margin-top:18px;">
<input type="hidden" id="pestania_eliminar">
<div class="col-6 d-flex justify-content-end" style="padding-right: 0px;"><button type="button" class="btn pv_btn_color_modal" onclick="$('#modal_eliminar_ventana').modal('hide');" style="background: none; width: auto; color: #FF4E00 !important; margin: 0px; padding-left:18px; padding-right: 18px;padding-bottom: 8px; padding-top: 8px; font-size: 13px;">Cancelar</button> </div>
<div class="col-6 col-6 d-flex justify-content-start " ><button type="button" class="btn pv_btn_color_modal" onclick="mas_menos_pestania(2, $('#pestania_eliminar').val(), ''); $('#modal_eliminar_ventana').modal('hide');" style="width: auto;margin: 0px; padding-left:18px; padding-right: 18px; font-size: 13px;padding-bottom: 8px; padding-top: 8px;">Eliminar</button></div>
</div>

<div class="cargar_nuevo_nombre_pestana"></div>  
<div class="eliminar_nombre_pestana"></div>  
</div>
    
</div>
</div>
</div>

<div class="panel-body panel_body_height p_iframes d-none" style="padding: 0; margin: 0;"></div>
<div class="panel-body panel_body_height bloque_pestanias_all" style="padding: 0; margin: 0; overflow-y: auto; background: #F6F6F6;">
    
<div class="row pt-4" style="padding: 0; margin: 0; width: 100%;">
<div class="col-1 "></div>
<div class="col-12 col-md-10 col-lg-10">
<div style="float: left; cursor: pointer; color: #ff5900;"onclick="$('.bloque_pestanias_all').addClass('d-none');
$('.p_iframes').removeClass('d-none');"><i class="fas fa-arrow-left"></i> Regresar a Productos</div>
<div style="float: right; cursor: pointer;"><button type="button" class="btn pv_btn_color_modal"
onclick="mas_menos_pestania(3, $('#contador_mas_menos').val(), ''); load_pestanias(4); load_pisos(0); " style="width: 150px;"><?php if(!empty($_SESSION['poc_actived_fn_restaurant'])){ echo 'Nueva Mesa'; }else{ echo 'Nueva Ventana'; }  ?></button></div>
<div class="col-4 filtro_sucursal_piso" style="margin-top: 35px;">
<script>
function load_filtro_sucursal_piso(){
var data = new FormData();
data.append('filtro_sucursal_piso', 1);
eval(devolver_ajax(2, '{{EC2_DOMINIO}}Operaciones/modal/modal_crear_piso_POS.php', 'data', '.filtro_sucursal_piso', ''));    
}
load_filtro_sucursal_piso();
</script>
</div>
<?php
$array_registro_piso = array(1, 1, 2);
echo modal_new_piso_pos($array_registro_piso);
?>
<div class="row pt-4 div_load_pestanias" style="padding: 0; margin: 0; width: 100%;"></div>
</div>
</div>
    
<div class="div_clausurar_mesas_unidas"></div>
</div>

<script>
var n_items_pestanias = 7;
if (window.matchMedia("(max-width: 860px)").matches) {
n_items_pestanias = 3;
}
if (window.matchMedia("(max-width: 768px)").matches) {
n_items_pestanias = 2;
}
if (window.matchMedia("(max-width: 550px)").matches) {
n_items_pestanias = 0;
}

function load_pestanias(tipo){
var id_piso = $('#select_tipo_mesa').val(); 
var data = new FormData();
data.append('load_pestanias', 1);
data.append('id_piso', id_piso);
//EJECUTAR FUNCION
eval(devolver_ajax(tipo, '{{EC2_DOMINIO}}POS/index.php', 'data', '.div_load_pestanias', ''));
}
    
function fn_sync_pestania(p, count){
   
var id_db_p = $('#id_pestania_'+p).val();
var src = '{{EC2_DOMINIO}}POS/POS_renew.php?countv='+count+'<?php echo $tipo_link_pos; ?>&id_mesa='+id_db_p;
$('#inlineFrameExample'+p).attr('src', src);
}

function pestania(p, display_frame){
if(display_frame != 3){
//AGREGAR SRC
if(!$('.p'+p).length){
$('.p_iframes').append(`<div class="p_all p`+p+`" style="display: none; height: 100%;">
<iframe id="inlineFrameExample`+p+`"
frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%">
</iframe>
<input id="cargar_pestania_`+p+`" value="1" type="hidden">
</div>`);
}


$('.pall').css('display', 'none');
$('.tab_all').removeClass('css_tab_invertido_secundario').addClass('css_tab_secundario');
$('.p_all').css('display', 'none');
$('.p'+p).css('display', '');
$('#id_pestania_actual').val(p);
$('.tab_'+p).removeClass('css_tab_secundario').addClass('css_tab_invertido_secundario');
$('.color_desactived').css('color', '#A2A2A2');
$('.color_desactived').css('text-align', 'left');
$('.color_active_'+p).css('color', '#000000');
$('.col_opciones_desactivado').css('display', 'none');
$('.col_opciones_actived_'+p).css('display', '');
$('.ul_desactivado').css('display', 'none');
$('.sync_pestania').css('display', 'none');
$('.sync_pestania_'+p).css('display', '');
$('.bloque_pestanias_all').addClass('d-none');
$('.p_iframes').removeClass('d-none');


var cargar_pestania = $('#cargar_pestania_'+p).val();
if(cargar_pestania == 1){
p_count = 100+parseInt(p);
fn_sync_pestania(p, p_count);
$('#cargar_pestania_'+p).val(0);
}

}

}

function estados_update(id, estado) {
//var estados_update = $('#id_top_'+id).val();
var ult_id = $('#final_top').val();
var data = new FormData();
data.append('estado_top_pos_pestana', estado);
data.append('id_ventana_top', id);
data.append('estados_update', 1);
data.append('ult_id', ult_id);

//EJECUTAR FUNCION
eval(devolver_ajax(4, '{{EC2_DOMINIO}}POS/index.php', 'data', '.top_ventana', ''));    
}

function remove_pestania(tipo, id, id_ulti) {
var valor_estado = $('#id_top_'+id).val();
var valor = $('#final_top').val();
var id_general = $('#id_final_top').val();
//var pestania_top = 7;
if (tipo == 1) {
//var pestania_top = 7;    
//if (pestania_top == '7') {
//$(".pestania_adicional_7").attr("id", "pestania_7");    
//}    
}
<?php
$dato_final_top = " SELECT * FROM pos_nombre_ventana WHERE empresa = '".$_SESSION['IDEMPRESA']."' AND estado_top = 1 ORDER BY id DESC LIMIT 1 ";
$ult_top_ventana = mysqli_fetch_array(mysqli_query($con, $dato_final_top));
$id_ult_top = $ult_top_ventana['tipo'];
$id_fin = $ult_top_ventana['id'];
?>
if (tipo == 2) {
//$(".pestania_adicional_"+id).attr("id", "pestania_"+id);

if( id == ""){
$('.pestania_adicional_'+id).css('display', 'none'); 
} else {
estados_update(valor, 0);
$('.pestania_adicional_'+id_general).css('display', 'none');
}
//$('#pestania_<?php echo $id_ult_top; ?>').css('display', 'none');
$('#id_top_<?php echo $id_ult_top; ?>').val('0');
/*
if (valor_estado == 1) {
$('#id_top_'+id).val('0');
$('.pestania_adicional_'+id).css('display', 'none');
$('#pestania_<?php echo $id_ult_top; ?>').css('display', 'none');
$('#final_top').val(id_ulti);
$('#id_final_top').val(id);
estados_update(id_ulti, 0);
alert('<?php echo $id_ult_top; ?>dd');
}
 */

if (valor_estado == 0) {
$('#id_top_'+id).val('1');
$('.pestania_adicional_'+id).css('display', '');
$('#final_top').val(id_ulti);
$('#id_final_top').val(id);
estados_update(id_ulti, 1);
}

}

}    

function permiso_crear_piso(id) {
<?php
if(!empty($_SESSION['poc_actived_fn_restaurant'])){
?>    
name_pestania_POS = "Mesa ";                
<?php
}else{
?>
name_pestania_POS = "Ventana ";
<?php
}
?>
if (confirm("Crear Nueva "+name_pestania_POS)){
if (id == 1) {
mas_menos_pestania(1, $('#contador_mas_menos').val(), ''); 
load_pisos(0);      
}
if (id == 2){
mas_menos_pestania(3, $('#contador_mas_menos').val(), ''); 
load_pestanias(4); 
load_pisos(0);    
}
}    
}


var primera_pestania = 0, n_primera_pestania = ``;
function mas_menos_pestania(tipo, pestania_num, name_pestania, cargar_pestania){
var numero, numero_count, items_pestanias, id_pestania_db = $('#id_pestania_db').val(), id_pestania_actual = $('#id_pestania_actual').val(), name_pestania_DB = name_pestania ;

$('.col_opciones_desactivado').css('display', 'none');
$('.col_opciones_actived_'+numero).css('display', '');

if (tipo == 1 || tipo == 3 || tipo == 4) {
items_pestanias = document.getElementsByClassName("item_pestania").length + 1;
numero = parseInt(pestania_num);
numero_count = 100+parseInt(pestania_num);

//VALORES SI NO ES PESTAÑA DE DB
if(name_pestania == ''){
numero = parseInt(pestania_num) + 1;
cargar_pestania = 0;
numero_count = 100+parseInt(pestania_num) + 1;
<?php
if(!empty($_SESSION['poc_actived_fn_restaurant'])){
?>    
name_pestania_DB = "Mesa"+numero;                
<?php
}else{
?>
name_pestania_DB = "V"+numero;
<?php
}
?>

}

if(primera_pestania == 1){
n_primera_pestania = `<li class="li_opciones" onclick="$('#modal_eliminar_ventana').modal('show'); $('#pestania_eliminar').val(`+numero+`);">Eliminar pesta&ntilde;a</li>`;
}
if(primera_pestania == 0){
primera_pestania = 1;
}
    
}

if(tipo == 1 || tipo == 3){
//AGREGAR PESTAÑA
if(items_pestanias <= n_items_pestanias){
$('#content_append_pestanias').append(`<td class="item_pestania pestania_adicional_`+numero+` col-auto css_padding_pestana_index" style="padding: 5px; padding-bottom: 0; display: none;">
<div class="row" style="margin:0px; flex-wrap: nowrap;">        
<div class="tab_all tab_`+numero+` css_tab_secundario col-10" onclick="pestania(`+numero+`, 0);">
<div class="css_tab_circle color_active_`+numero+` color_desactived col-12 titulo_`+numero+`" style="white-space: nowrap; text-overflow: ellipsis;">
`+name_pestania_DB+`
</div>
</div>
<div class="col-auto col_opciones_actived_`+numero+` col_opciones_desactivado css_tab_invertido_secundario_icon" onclick="$('#opciones_`+numero+`').toggle();" >
<i class="fa fa-ellipsis-h" style="color: #000000; font-size: 10px;"></i> </div>
</div>
<ul id="opciones_`+numero+`" class="ul_opciones ul_desactivado" >
<li class="li_opciones" onclick="evento_nombre_pestana(`+numero+`, 1, '`+name_pestania_DB+`');">Cambiar nombre</li>
`+n_primera_pestania+`
<li class="li_opciones" onclick="fn_sync_pestania(`+numero+`, `+numero_count+`);">Actualizar Pesta&ntilde;a</li> 
</ul>
<input type="hidden" id="id_pestania_`+numero+`" >
<input type="hidden" id="id_top_`+numero+`" value="`+numero+`" >
</div>`);       
} 
else {
$('#content_append_pestanias').append(`<input type="hidden" id="id_pestania_`+numero+`" >`);       
}

//AGREGAR SRC
if(tipo != 3){
$('.p_iframes').append(`<div class="p_all p`+numero+`" style="display: none; height: 100%;">
<iframe id="inlineFrameExample`+numero+`"
frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%">
</iframe>
<input id="cargar_pestania_`+numero+`" value="`+cargar_pestania+`" type="hidden">
</div>`);   
}

//MOSTRAR PESTAÑA
if(1 == 1){
$('#contador_mas_menos').val(numero);
if(items_pestanias <= n_items_pestanias){
$('.pestania_adicional_'+numero).css('display', '');    
} else {
$('.pestania_adicional_'+numero).css('display', 'none');
}

$('.pestania_adicional_mas').css('display', ''); //none


//ACTIVAR SI NO ES PESTAÑA DE DB
if(name_pestania == ''){
$( document ).ready(function() {      
evento_nombre_pestana(numero, 5, name_pestania_DB, numero, numero_count, tipo);
});
$( document ).ready(function() {      
evento_nombre_pestana(numero, 1, name_pestania_DB);
});
$( document ).ready(function() {      
//fn_sync_pestania(numero, numero_count);
});
$( document ).ready(function() {      
if(tipo == 3){
//pestania(numero, 1);
}else{
//pestania(numero);
}
});



}

}
}

if(tipo == 2){
numero = parseInt(pestania_num);
items_pestanias = document.getElementsByClassName("item_pestania").length;

var data = new FormData();
data.append('tipo_pestana', numero);
data.append('eliminar_pestania', 1);
//EJECUTAR FUNCION
eval(devolver_ajax(4, '{{EC2_DOMINIO}}POS/index.php', 'data', '.eliminar_nombre_pestana', ''));

if(items_pestanias <= n_items_pestanias){
$('.pestania_adicional_mas').css('display', '');
}

$('.pestania_adicional_'+numero).remove();

if(id_pestania_actual == numero){
pestania(id_pestania_db, 0);
} else {
load_pestanias(4);
}

}

//CREAR - TD
if (tipo == 4) {
$('#content_append_pestanias').append(`<td class="item_pestania pestania_adicional_`+numero+` col-auto css_padding_pestana_index" style="padding: 5px; padding-bottom: 0; display: none;">
<div class="row" style="margin:0px; flex-wrap: nowrap;">        
<div class="tab_all tab_`+numero+` css_tab_secundario col-10" onclick="pestania(`+numero+`, 0);">
<div class="css_tab_circle color_active_`+numero+` color_desactived col-12 titulo_`+numero+`" style="white-space: nowrap; text-overflow: ellipsis;">
`+name_pestania_DB+`
</div>
</div>
<div class="col-auto col_opciones_actived_`+numero+` col_opciones_desactivado css_tab_invertido_secundario_icon" onclick="$('#opciones_`+numero+`').toggle();" >
<i class="fa fa-ellipsis-h" style="color: #000000; font-size: 10px;"></i> </div>
</div>
<ul id="opciones_`+numero+`" class="ul_opciones ul_desactivado" >
<li class="li_opciones" onclick="evento_nombre_pestana(`+numero+`, 1, '`+name_pestania_DB+`');">Cambiar nombre</li>
`+n_primera_pestania+`
<li class="li_opciones" onclick="fn_sync_pestania(`+numero+`, `+numero_count+`);">Actualizar Pesta&ntilde;a</li> 
</ul>
<input type="hidden" id="id_pestania_`+numero+`" >
<input type="hidden" id="id_top_`+numero+`" value="`+numero+`" >
</div>`);     
}
}

//ADAPTAR HEIGHT 100% SIEMPRE
function adaptar_pantalla(id){
var div_pestanias = $('.div_pestanias').width() - 5;
var div_pestanias_movil = $(window).width();
if(div_pestanias_movil >= 769){
$('.div_pestanias').width(div_pestanias+'px');   
}else{
$('.pestania_adicional_1').css('display', 'none');    
$('.pestania_adicional_mas').css('display', 'none'); 
$('.icono_house').css('display', 'none'); 
$('.clase_movil_sucursal').removeClass('col-3 col-sm-3 col-md-3 col-lg-2').addClass('col-6 col-sm-8 col-md-3 col-lg-3');
$('.clase_movil_pestana').removeClass('col-6 col-sm-6 col-md-6 col-lg-7').addClass('col-3 col-sm-2 col-md-6 col-lg-7');
$('.clase_movil_usuario').removeClass('col-3 col-sm-3 col-md-3 col-lg-3').addClass('col-3 col-sm-2 col-md-3 col-lg-3');

}

var height_window;
if(id == 0){
height_window = $(window).height();    
}
if(id == 1){
height_window = $(window).height() + 110;
}
if(id == 2){
height_window = $(window).height() - 110;
}
//var panel_principal = $('.panel_principal').height();
var menu_nav_principal_pos = $('.menu_nav_principal_pos').height();
var panel_body_height = height_window - menu_nav_principal_pos;
$('.panel_body_height').height(panel_body_height);  

}

//CLAUSURAR MESAS
function clausurar_mesas_unidas() {
function_contador_clausura = setInterval(function() {
//VERIFICAR SI HAY INTERNET
if(navigator.onLine){
var data = new FormData();
data.append('clausurar_mesas_unidas', 1);
var url = '{{EC2_DOMINIO}}POS/index.php';
devolver_ajax_2022([4, url, data, '.div_clausurar_mesas_unidas', '', 2000, 0]);
}
}, 1000);
}

$(document).ready(function(){

adaptar_pantalla(0);
clausurar_mesas_unidas();

<?php
$pentanias_POS = "SELECT 
CASE WHEN estado_top = 1 THEN 1 WHEN estado_top = 0 
THEN  0 END AS ESTADO_DISPLAY,
nombre,
tipo,
id
FROM pos_nombre_ventana WHERE empresa = '".$_SESSION['IDEMPRESA']."' AND estado = 1 ORDER BY id ASC  ";
$query_ventana_POS = mysqli_query($con, $pentanias_POS);
$numrows_pentanias_POS = mysqli_num_rows($query_ventana_POS);
if (!empty($numrows_pentanias_POS)) {
$cont_limit = 1;  
while($numrows_pentanias_POS = mysqli_fetch_array($query_ventana_POS)){
$display = $numrows_pentanias_POS[0];
$id_db  = $numrows_pentanias_POS[3];
if($cont_limit <= 7){
if (empty($display)) {
$insert_top = "UPDATE pos_nombre_ventana SET estado_top = '1' WHERE id = $id_db AND empresa = '".$_SESSION['IDEMPRESA']."' ";
$query_update_top = mysqli_query($con, $insert_top); 
}    
}
$cont_limit++;
}
}


//CREAR PESTAÑAS   
$session_id = session_id();
mysqli_query($con, "DELETE FROM pos_nombre_ventana WHERE empresa = '".$_SESSION['IDEMPRESA']."' AND estado = 0 LIMIT 100 ");


$query_ventana_nombre = mysqli_query($con, $pentanias_POS);
$numrows_ventana_nombre = mysqli_num_rows($query_ventana_nombre);
if(!empty($numrows_ventana_nombre)){
$j = 1;
$limit = 1;
while($row_nombre_ventana = mysqli_fetch_array($query_ventana_nombre)){
$display = $row_nombre_ventana[0];    
$nombre_v = $row_nombre_ventana[1];
$tipo_v = $row_nombre_ventana[2];
$id_db  = $row_nombre_ventana[3];
if($j == 1){$id_pestania_db = $tipo_v;}
if($limit <= 7){
?>        
mas_menos_pestania(1, <?php echo $tipo_v; ?>, `<?php echo $nombre_v; ?>`, 1);
$('#id_pestania_<?php echo $tipo_v; ?>').val('<?php echo $id_db; ?>');
$('#id_top_<?php echo $tipo_v; ?>').val('1');
$('#final_top').val('<?php echo $id_db; ?>');
$('#id_final_top').val('<?php echo $tipo_v; ?>');
<?php
}else{
?>
mas_menos_pestania(4, <?php echo $tipo_v; ?>, `<?php echo $nombre_v; ?>`, 1);
$('#id_pestania_<?php echo $tipo_v; ?>').val('<?php echo $id_db; ?>');
$('#id_top_<?php echo $tipo_v; ?>').val('0');
<?php
}
if (!empty($display)) {
?>
$('.pestania_adicional_<?php echo $tipo_v; ?>').show();
$('#final_top').val('<?php echo $id_db; ?>');
$('#id_final_top').val('<?php echo $tipo_v; ?>');
<?php
}
else{
?>
$('.pestania_adicional_<?php echo $tipo_v; ?>').hide();
<?php    
}
$limit++;
$j++;
}
?>
$('#id_pestania_db').val(<?php echo $id_pestania_db; ?>);
pestania(<?php echo $id_pestania_db; ?>, 0);
<?php

//ULTIMA PESTANIA
$query_ult_pestania = mysqli_query($con, "SELECT tipo FROM pos_nombre_ventana WHERE empresa = '".$_SESSION['IDEMPRESA']."' ORDER BY tipo DESC LIMIT 1 ");
$numrows_ult_pestania = mysqli_num_rows($query_ult_pestania);
if(!empty($numrows_ult_pestania)){
$row_ult_pestania = mysqli_fetch_array($query_ult_pestania);
?>
$('#contador_mas_menos').val('<?php echo $row_ult_pestania[0]; ?>');
<?php
}

} else {
?>
mas_menos_pestania(1, 0, '');
<?php 
}
?>
//COLOCAR ID - TD 7    
remove_pestania(1, 0, 0);  
});

//CERRAR TURNO
function btn_cerrar_turno(){
$('#turno_cierre').modal('show');
$('#question_cierre_caja_1').css('display', 'block');
$('#question_cierre_caja_2').css('display', 'none');
};

//FULL SCREEN
function fullscreen(){
var input_fullscreen = $('#input_fullscreen').val();
if(input_fullscreen == 2){
openFullscreen();
$('#input_fullscreen').val('1');
} else {
closeFullscreen();
$('#input_fullscreen').val('2');
}
}
function openFullscreen(){
var elem = document.documentElement;
if(elem.requestFullscreen){
elem.requestFullscreen();
} else if(elem.mozRequestFullScreen){ /* Firefox */
elem.mozRequestFullScreen();
} else if(elem.webkitRequestFullscreen){ /* Chrome, Safari & Opera */
elem.webkitRequestFullscreen();
} else if(elem.msRequestFullscreen){ /* IE/Edge */
elem.msRequestFullscreen();
}
adaptar_pantalla(1);
}
function closeFullscreen(){
if(document.exitFullscreen){
document.exitFullscreen();
} else if(document.mozCancelFullScreen){
document.mozCancelFullScreen();
} else if(document.webkitExitFullscreen){
document.webkitExitFullscreen();
} else if(document.msExitFullscreen){
document.msExitFullscreen();
}
adaptar_pantalla(2);
}

function evento_nombre_pestana(tipo, funcionalidad, name, numero, count, tipo_event_crear){
//CAMBIAR NOMBRE
if(funcionalidad == 1){
$('#nombre_pestana').val(name);
$('#input_pestana_tipo').val(0);
$('#input_pestana_tipo').val(tipo);
$('#cambiar_nombre_pestana').modal('show'); 
}

if(funcionalidad == 2){
    
var nombre_pestana = $('#nombre_pestana').val();
if(nombre_pestana == ""){
alert("El campo nombre se encuentra vacio");
}else{
var tipo = $('#input_pestana_tipo').val();
$('#input_pestana_tipo').val('');
$('.titulo_'+tipo).html(nombre_pestana);
$('#cambiar_nombre_pestana').modal('hide');  
}
}

if(funcionalidad == 3){
$('#cambiar_nombre_pestana').modal('hide');     
$('#modal_guardar_nuevo_nombre').modal('show'); 

}

if(funcionalidad == 4){
var tipo_piso = $('#tipo_piso').val();      
var nombre_pos_pestana = $('#nombre_pestana').val();

if(nombre_pos_pestana == ""){
alert("El campo nombre se encuentra vacio");
}else{  
var tipo_pestana = $('#input_pestana_tipo').val();
var data = new FormData();
data.append('tipo_pestana', tipo_pestana);
if($('#cambiar_mesa').length){
var cambiar_mesa = $('#cambiar_mesa').val();
data.append('cambiar_mesa', cambiar_mesa);
}
if(typeof unir_mesa_array !== 'undefined'){
data.append('unir_mesa_array', unir_mesa_array);
}
data.append('nombre_pos_pestana', nombre_pos_pestana);
data.append('tipo_piso', tipo_piso);
data.append('funcionalidad', 4);
//EJECUTAR FUNCION
eval(devolver_ajax(2, '{{EC2_DOMINIO}}POS/index.php', 'data', '.cargar_nuevo_nombre_pestana', ''));
}
}

if(funcionalidad == 5){
var data = new FormData();
data.append('tipo_pestana', tipo);
data.append('nombre_pos_pestana', name);
data.append('pestania_temporal', 1);
data.append('numero_p', numero);
data.append('count_p', count);
data.append('tipo_event_crear', tipo_event_crear);

//EJECUTAR FUNCION
eval(devolver_ajax(4, '{{EC2_DOMINIO}}POS/index.php', 'data', '.cargar_nuevo_nombre_pestana', ''));
}

}

function mostrar_drowpdon_modal(ul_tipo){
$('.ul_desactivado').css('display', 'none');
$('#opciones_'+ul_tipo).css('display', 'block');
}

// Escuchar cambios de orientación
window.addEventListener("orientationchange", function() {
// Hacer algo cuando cambia la orientación
var time_controller = '';
clearTimeout(time_controller);
time_controller = setTimeout(function(){
adaptar_pantalla(0);
}, 500);

}, false);


</script>



<!--MENU-->


   

<script>
function mesa_tmp(){
$('#content_append_pestanias').append(`<td class="item_pestania pestania_adicional_1 col-auto css_padding_pestana_index" style="padding: 5px; padding-bottom: 0; ">
<div class="row" style="margin:0px; flex-wrap: nowrap;">        
<div class="tab_all tab_1 css_tab_invertido_secundario col-10" onclick="pestania(1, 0);">
<div class="css_tab_circle color_active_1 color_desactived col-12 titulo_1" style="white-space: nowrap; text-overflow: ellipsis;">
mesa
</div>
</div>
<div class="col-auto col_opciones_actived_1 col_opciones_desactivado css_tab_invertido_secundario_icon" onclick="$('#opciones_1').toggle();" >
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg_relleno" fill="#000000" version="1.1" id="Capa_1" width="10px" height="10px" viewBox="0 0 41.915 41.916" xml:space="preserve">
<g>
	<g>
		<path d="M11.214,20.956c0,3.091-2.509,5.589-5.607,5.589C2.51,26.544,0,24.046,0,20.956c0-3.082,2.511-5.585,5.607-5.585    C8.705,15.371,11.214,17.874,11.214,20.956z"/>
		<path d="M26.564,20.956c0,3.091-2.509,5.589-5.606,5.589c-3.097,0-5.607-2.498-5.607-5.589c0-3.082,2.511-5.585,5.607-5.585    C24.056,15.371,26.564,17.874,26.564,20.956z"/>
		<path d="M41.915,20.956c0,3.091-2.509,5.589-5.607,5.589c-3.097,0-5.606-2.498-5.606-5.589c0-3.082,2.511-5.585,5.606-5.585    C39.406,15.371,41.915,17.874,41.915,20.956z"/>
	</g>
</g>
</svg>
</div>
</div>
<ul id="opciones_1" class="ul_opciones ul_desactivado" style="display:none;">
<li class="li_opciones" onclick="evento_nombre_pestana(1, 1, 'mesa');">Cambiar nombre</li>
<li class="li_opciones" onclick="fn_sync_pestania(1, 1);">Actualizar  </li> 
</ul>
<input type="hidden" id="id_pestania_1" >
<input type="hidden" id="id_top_1" value="1" >
</div></td>`);    
$('.bloque_pestanias_all').addClass('d-none');
}
mesa_tmp();

</script>
{{else}}

<!--
<div id="demo-content">
<div id="loader-wrapper">
<div id="loader"> <img src="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/operaciones_img_logo_sin_letra.png" style="margin-top: 40px; margin-left: 35px; width: 100px; height: auto;"></div>
</div>
</div>-->
 


<div id="div_recargar_session"></div>

<!-- CONTENIDO -->
<form id="datos_factura">

<input type="hidden" id="countv" name="countv" value="">

<!-- DATOS -->
<input type="hidden" id="input_page" value="1" readonly="readonly">
<input type="hidden" id="punto_de_venta" name="punto_de_venta" value="1" readonly="readonly">
<input type="hidden" id="tipo_operacion" name="tipo_operacion" value="1" readonly="readonly">
<input type="hidden" id="id_cliente" name="id_cliente" readonly="readonly">
<input type="hidden" id="cargar_panel_cotizaciones_ordenes" value="0" name="cargar_panel_cotizaciones_ordenes" readonly="readonly">
<input type="hidden" id="valor_chbx_opcion" name="valor_chbx_opcion" value="1" readonly="readonly">
<!--COTIZACIONES-->
<input type="hidden" id="select_buscar_cotizaciones" name="select_buscar_cotizaciones" readonly="readonly">
<!--ORDEN VENTA-->
<input type="hidden" id="select_orden_venta" name="select_orden_venta" readonly="readonly">
<input type="hidden" id="id_tipodoc_venta" readonly="readonly">
<input type="hidden" id="id_serie_venta" readonly="readonly">
<input type="hidden" id="id_mesa_pedido" name="id_mesa_pedido" value="" readonly="readonly">
<input type="hidden" id="check_multiple_id_pedido" name="check_multiple_id_pedido" readonly="readonly">
<!--GUIA REMISION-->
<input type="hidden" id="check_multiple_guia_remision" name="check_multiple_guia_remision" readonly="readonly">
<!--DIRECCION DEL CLIENTE-->
<input type="hidden" id="n_direccion_cliente" name="n_direccion_cliente" readonly="readonly" value="0">

<!-- VERIFICAR  -->
<!--<input type="hidden" name="moneda" id="moneda" value="1" readonly="readonly">-->
<input type="hidden" id="condiciones" name="condiciones" value="1" readonly="readonly">
<input type="hidden" id="metodo_pago" name="metodo_pago" value="1" readonly="readonly">
<input type="hidden" id="vuelto_POS" name="vuelto_POS" value="0" readonly="readonly">


<div class="row mobile_row"  >
<div class="col-lg-7 col-md-6 col-sm-12 col-12 width_col_lg_izquiera_renew padding_izquierdo" id="lado_izquierdo">
<div class="row div_izquierdo_1 padding_izquierdo margin_div_1" >
<div class="row p_movil_ca_adcionale">  

<div class="col-lg-12 col-md-12 col-sm-12 col-12 row bloque_select_productos" >
<div class="col-lg-3 col-md-3 col-sm-2 col-3 table_margen_select_tipo" >
<div class="col-12 border_radius div_hijo_select_prod" >    
<div class="col-auto ver_por" >    
<span class="ocultar_span_ver_por">Ver por:</span> 
<select id="ver_panel_izquierdo_info" onchange="mostrar_panel_izquierdo();">
<option value="1">Productos</option>
<option value="2">Orden de pedido</option>
<option value="3">Cotizaciones</option>
<option value="4">Guias de remisi&oacute;n</option>
</select>
</div>
</div>
</div> 

<div class="col-lg-6 col-md-5 col-sm-6 col margen_modo_tablet border_radius buscador_margin"  >   
<input id="n_producto" onkeyup="fn_buscar_productos();" type="text" class="btn form-control css_buscador" placeholder=" Buscar producto:" autocomplete="off"  >
<span class="visualizar_lupa" >
<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="#999999" d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8s3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6s-6-2.691-6-6s2.691-6 6-6z"/></svg>
</span>
</div>

<div class="col-lg-auto col-auto col-sm-1 col-auto col-md-1 text-start div_contenedor_nuevo_p nuevo_producto_url" >
<button onclick="modal_productos(0);" type="button" class="btn div_registrar_producto movil_w_btn_reg icono_producto_p d-flex align-items-center justify-content-center" >
<svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 20 20" fill="none">
  <path fill="#ff0000" fill-rule="evenodd" d="M9 17a1 1 0 102 0v-6h6a1 1 0 100-2h-6V3a1 1 0 10-2 0v6H3a1 1 0 000 2h6v6z"></path>
</svg>
</button>
</div>

<!--SELECT VENDEDOR O ALMACEN-->
<div class="col-lg-2 col-md-3 col-sm-3 col-12 div_contener_select margen_modo_tablet "  >
<div class="col-12 padding_vendedor">
<select id="elvendedor" name="elvendedor" class="div_select_vendedor ">
<option value="0"  >Seleccione Vendedor</option>
</select>
</div>
</div>
</div>
    
    
<div class="col-12 padding_adicionales_cat"  >
<div class="row">     
<div class="col-lg-11 col-md-11 col-sm-11 col-11 text-center p-0 "  >
<div class="row">    

<div class="col-lg-2 col-md-3 col-sm-3 col-3 border_radius_left" >
<div class="col-12 ver_por select_campos_filtros" >    
<select onchange="filtro_campos_adicionales_productos(0);" id="filtro_campos_adicionales">   
<option value="categoria">Categoria</option>
<option value="marca">Marca</option>
 <option value="marca">Adicionales</option>
</select>
</div>
</div>

<div class="col-lg-10 col-md-9 col-sm-9 col-9 border_radius_top" >
<div class="row alto_row_filtros" >
<div class="col-10">    
<div class="row m-0 p-0 alto_row_filtros" >
<div class="cargar_vista_horizontal_categorias"> 
</div>
</div>  
</div>

<div class="col-2 d-flex justify-content-end align-items-center ver_mas_adicionales"  onclick=""> 
<span class="icono_arrow_ver_mas">Ver m&aacute;s </span> 
<svg xmlns="http://www.w3.org/2000/svg" class="icono_arrow_ver_mas" width="14" height="14" viewBox="0 0 24 24"><path fill="currentColor" d="m11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707l-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
</div>   
</div>

<div class="col-12" id="mas_categorias_panel" >
<div class="col-12">
<span>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#707070" d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8s3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6s-6-2.691-6-6s2.691-6 6-6z"/></svg>
</span>
<input id="buscador_adicionales" type="text" class="form-control placeholder_color ui-autocomplete-input" placeholder="Buscar Categor&iacute;a"  autocomplete="off">
</div>    
<div class="resultados_busqueda_catgegorias_adicionales"></div>
</div>  

</div>

<!--ID DE DETALLE O MARCA O CATEGORIA-->
<input type="hidden" value="" id="id_filtro_detalle_relacion">
 
</div>
</div>    

<!--CAMBIAR VISTA PRODUCTOS div_cambio_icono-->
<div class="col-lg-1 col-md-1 col-sm-1 col-1 d-flex justify-content-start padding_icono_products ">
<button tabindex="-1" onclick="" id="btn_vista" type="button" class="btn hint--bottom hint--negocia div_cambio_vista_producto border_radius" aria-label="Cambiar vista de productos"  >
<svg xmlns="http://www.w3.org/2000/svg" class="icon_cambio_vista"   viewBox="0 0 24 24"><path   d="M4 6h2v2H4zm0 5h2v2H4zm0 5h2v2H4zm16-8V6H8.023v2H18.8zM8 11h12v2H8zm0 5h12v2H8z"/></svg>
</button>
</div>

</div>
</div> 
</div>
</div>


<div id="tamano_izquierda" class="col-sm-12 col-12 p-0" >
<div class="row div_izquierdo_2 padding_izquierdo row_productos_load" >
<div class="outer_div padding_izquierdo" style="padding-top: 5px; padding-bottom: 5px; border-radius: 5px;">
<!--FORMATO DE PRODUCTOS CUADRADOS-->
<div class="row formato_1">
<div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center col_vista1_hover"  >
<table title="PRODUCTO OFFLINE" class="tmano_tabla_tipo_1" >
<tr>
<td class="titulo_vista_1" >
<div style="width: 100%;">
<a id="btn_info_producto_343434" class="icono_vista_1" href="javascript:void(0)"  >
<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 1536 1536"><path fill="#ff5900" d="M1024 1248v-160q0-14-9-23t-23-9h-96V544q0-14-9-23t-23-9H544q-14 0-23 9t-9 23v160q0 14 9 23t23 9h96v320h-96q-14 0-23 9t-9 23v160q0 14 9 23t23 9h448q14 0 23-9t9-23zM896 352V192q0-14-9-23t-23-9H672q-14 0-23 9t-9 23v160q0 14 9 23t23 9h192q14 0 23-9t9-23zm640 416q0 209-103 385.5T1153.5 1433T768 1536t-385.5-103T103 1153.5T0 768t103-385.5T382.5 103T768 0t385.5 103T1433 382.5T1536 768z"/></svg>
</a>
</div>
<div class="nombre_product_vista_1" >
  {{#each datos}}
<span   title="PRODUCTO OFFLINE">{{datos.ruc}}</span> 
  {{/each}} 
</div>    
</td>
</tr>
<tr>
<td  class="img-tabla img_vista_1" style=" background-image: url('views/images/null.png');"></td>
</tr>
<tr>
<td>
<div class="precio_vista_1" >
<span> S/ 12.55 </span>
</div>
</td>
</tr>
</table>
</div>
</div>
<!--FORMATO DE PRODUCTOS LISTA-->
<div class="row formato_2">
<table title="PRODUCTO NODE JS" class="tabla_movil_producto_tabla" >
<tr>

<td>

<table style="width: 100%;">
<tr>
<td>
<button type="button" class="btn_click_tabla" >
<table style="width: 100%;">
<tr>
<td  class="img-tabla tipo_2_css_img" style=" background-image: url('views/images/null.png');"></td>
<td style="width: 2%; height: 40px !important;"></td>
<td style="width: 80%; height: 40px !important; cursor: pointer; border-radius: 0px !important; background-color:transparent;">
<table style="width: 100% !important; background: #fff; border-radius:5px; height: 40px !important;">
<tr>
<td style="font-size: 14px; font-weight: bold; text-align: left; height: 20px !important; ">
PRODUCTO NODE JS
</td>
</tr>
<tr>
<td class="td_contenedor_detalle">

<span class="precio_real">Precio: S/ 300.00</span>
<span class="costo_registrado"  >Precio Costo Registrado: S/ 12.00</span>
<span class="stock_real"  >Stock Real: 13</span>
<span class="marca_detalle">Marca: Saga</span>
<span class="descripcion_pos_producto" >Descripci&oacute;n: Negocia.pe</span>
 
</td>
</tr>
</table>
</td>
</tr>
</table>
</button>
</td>
<td class="img-tabla icon_tabla_css_prod" >
<a tabindex="-1" id="btn_info_producto_9899" class="inline css_a_tabla" href="javascript:void(0)"   >
 <svg xmlns="http://www.w3.org/2000/svg" class="inline" width="15" height="15" viewBox="0 0 1536 1536"><path fill="#ff5900" d="M1024 1248v-160q0-14-9-23t-23-9h-96V544q0-14-9-23t-23-9H544q-14 0-23 9t-9 23v160q0 14 9 23t23 9h96v320h-96q-14 0-23 9t-9 23v160q0 14 9 23t23 9h448q14 0 23-9t9-23zM896 352V192q0-14-9-23t-23-9H672q-14 0-23 9t-9 23v160q0 14 9 23t23 9h192q14 0 23-9t9-23zm640 416q0 209-103 385.5T1153.5 1433T768 1536t-385.5-103T103 1153.5T0 768t103-385.5T382.5 103T768 0t385.5 103T1433 382.5T1536 768z"></path></svg>

  </a>
</td>
</tr>
</table>
</td>





</tr>
</table>

</div>




</div>
<div class="resultados_pos"></div>
<div id="resultados"></div>
<div id="resultados_serie_f"></div>
<div id="resultados_lp"></div>
</div>
</div>
<div class="text-center div_izquierdo_3 col-sm-12 col-12" id="lado_pagination" >
<button id="load_left" type="button" class="btn">
<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 608 1280"><path fill="white" d="M595 288q0 13-10 23L192 704l393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10L23 727q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg>
</button>
<button id="load_right" type="button" class="btn" >
<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 608 1280"><g transform="translate(608 0) scale(-1 1)"><path fill="white" d="M595 288q0 13-10 23L192 704l393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10L23 727q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></g></svg>
</button>

<button type="button" class="btn d-none" data-bs-toggle="modal" data-bs-target="#mp_crear_producto_improvisado_" style="float: right;padding: 0px;margin-right: 10px; " >
<img src="https://{{EC2_BUCKET_S3}}-img-recursos.s3.amazonaws.com/con%20_shopping_bags_.png" style="width: 32px;">
<i class=" bx bxl-product-hunt" style="display: none; font-size: 30pt;color: #FF9900;"></i>
</button>

<div class="col-sm-12 col-12 btn_atajo_pagar btn_continuar_detalle_seleccionados" onclick="$('#lado_izquierdo').css('display', 'none');
$('#lado_derecho').css('display', 'block');" >Continuar
</div>

</div>

<div class="div_load_info_cliente " style="margin-top: 10px; display: none; overflow-y: auto;"></div>
<div class="div_load_info_producto " style="margin-top: 10px;display: none; overflow-y: auto;"></div>
<div class="div_pos_pagar " style="margin-top: 10px; display: none; overflow-y: auto;"></div>

</div>


<div class="col-lg-5 col-md-6 col-sm-12 col-12 width_col_lg_centro_renew lado_css_none" id="lado_derecho" >
<div id="select_serie"></div>
<div id="select_serie_pos"></div>
<div id="select_correlativo_pos"></div>

<div class=" col-12 lado_dere_movil" onclick="$('.outer_div, .div_izquierdo_1, .div_izquierdo_2, .div_izquierdo_3, #tamano_izquierda').css('display', ''); $('.div_load_info_cliente').css('display', 'none');$('#lado_derecho').css('display', 'none');$('#lado_izquierdo').css('display', ''); $('.div_pos_pagar').html('');$('#ver_panel_izquierdo_info').val('1');">
 
<svg xmlns="http://www.w3.org/2000/svg" class="inline" width="20" height="20" viewBox="0 0 24 24"><path fill="#ff9c00" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10s10-4.486 10-10S17.514 2 12 2zm2 15l-6-5l6-5v10z"/></svg>Agregar m&aacute;s Productos
</div> 

<div class="hidden-lg hidden-md hidden-sm col-6" style="margin-top: 13px; margin-bottom: 10px; display: none;">
<span style="float:right; font-size: 12px; font-weight: bold; color: red;" onclick="$('#mas_opciones_pos').modal('show');" >M&aacute;s opciones</span>  
</div>

<div class="row  div_derecho_1"  >
   
<!--TIPO DOCUMENTO div_select_tipodoc-->
<div class="col-lg-5 col-md-5 col-sm-4 col-5 padding_celda_encabezado clase_tipo_doc_remove border_tipo_doc"  >
<label class="d-flex text-start titulo_opciones_pos">Tipo de documento</label>    
<select class="form-control formato_select_number" name="tipodoc" id="tpodoc" 
onchange="">
<option value="0" hidden="hidden">Tipo Documento:</option>
</select>
</div>


<!--SERIE-->
<div class="col-lg-3 col-md-3 col-sm-3 col-3 padding_celda_encabezado mostrar_serie_orden_venta border_serie_orden" >
<label class="d-flex text-star titulo_opciones_pos">Serie</label>     
<select class="form-control div_select_serie seleccion_serie_movil formato_select_number" name="serie" id="serie"  >
<option value="0">N&#176; Serie</option>
</select>
</div>


<!--CORRELATIVO-->
<div class="col-lg-3 col-md-3 col-sm-3 col-3 padding_celda_encabezado n_factura_remove_class border_serie_correlativo"  >
<label class="d-flex text-start titulo_opciones_pos">N&#176;</label>     
<input type="number" class="form-control div_input_num_factura formato_select_number" id="num_factura" name="num_factura"  >
</div>

<div class="col-1 padding_celda_encabezado d-flex justify-content-center align-items-center" onclick="$('#mas_opciones_pos').modal('show');" style="cursor: pointer; border-bottom: 1px solid rgba(0, 0, 0, 0.11);margin: 0px; ">
<svg xmlns="http://www.w3.org/2000/svg" class="pointer" width="16" height="16" viewBox="0 0 384 1408"><path fill="currentColor" d="M384 1120v192q0 40-28 68t-68 28H96q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h192q40 0 68 28t28 68zm0-512v192q0 40-28 68t-68 28H96q-40 0-68-28T0 800V608q0-40 28-68t68-28h192q40 0 68 28t28 68zm0-512v192q0 40-28 68t-68 28H96q-40 0-68-28T0 288V96q0-40 28-68T96 0h192q40 0 68 28t28 68z"/></svg>
</div>

</div> 



<div class="row div_derecho_1 col-lg-12 col-md-12 col-sm-12 col-12" style="margin:0px;">
<!--CLIENTE div_input_cliente-->
<div class="col-lg-11 col-md-11 col-sm-11 col-11 padding_celda_encabezado div_buscador_cliente"   >
<div class="div_hijo_cliente_b" >    
<span class="lupa_cliente">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="#707070" d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396l1.414-1.414l-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8s3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6s-6-2.691-6-6s2.691-6 6-6z"/></svg>
</span>   
<input id="b" type="text" class="form-control placeholder_color" placeholder="Buscar Cliente"  >
</div>
</div>

<!--OJITO DE REGRESAR AL PANEL DE ORDENES Y COTIZACIONES-->
<div id="btn_cobrar" class="col-lg-1 col-md-1 col-sm-1 col-1 d-flex justify-items-center justify-content-center padding_celda_encabezado "  >
<span class="div_btn_cliente hint--bottom" aria-label="M&aacute;s Opciones" onclick="
$('#btn_pos_pagar').css('display', ''); 
$('#btn_save_factura').css('display', 'none'); 
var fn_id_info_cliente = $('#id_cliente').val(); 
var fn_formulario_info_cliente = $('#formulario_info_cliente').val(); 
if(fn_id_info_cliente > 0){
if (fn_id_info_cliente == fn_formulario_info_cliente) {
$('.outer_div, .div_izquierdo_1, .div_izquierdo_2, .div_izquierdo_3, #tamano_izquierda, .div_load_info_producto, .div_pos_pagar').css('display', 'none');
$('.div_load_info_cliente, #btn_pos_pagar').css('display', '');
} 
}
var funcion_width_movil = $(window).width(); 
if(funcion_width_movil <= 768){ $('#lado_izquierdo').css('display', '');
$('#lado_derecho').css('display', 'none'); } " style="cursor: pointer; padding-top: 10px;">


<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#727272" d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316l-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4s4 1.794 4 4s-1.794 4-4 4z"/><path fill="#727272" d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2s2-.916 2-2s-.916-2-2-2z"/></svg>


</span>
</div>

<div class="col-lg-1 col-md-1 col-sm-1 hidden text-center clas_mas_opcion_m" onclick="$('#mas_opciones_pos').modal('show');" >
M&aacute;s opciones
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-12 ver_puntos"  >
</div>
<div class="ver_modal_cliente_new"></div>
<div id="modal_registrar_productos"></div>
</div>
<!--MODAL MAS OPCIONES-->
<div class="modal" id="mas_opciones_pos"> 
<div  class="modal-dialog modal-sm modal-dialog-centered" role="document" style="margin: 0 auto; ">
<div class="modal-content" style="border-radius: 0px;">
<div class="modal-body nlabsac_c_diurno" style="padding:0;">
<div class="col-12 col-sm-12 col-md-12 col-lg-12 row" style="padding-top:10px;">    
<div class="col-6">    
<span style="font-size: 18px; font-weight: bold;">M&aacute;s opciones</span>
</div>
<div  class="col-6">     
<button type="button" class="close  btn-close " data-bs-dismiss="modal" aria-label="Close" style="float: right; font-size: 10px;"></button>
</div>
</div>
<!--FORMULARIO-->
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0;">
<hr style="margin:0; margin-top: 10px; margin-bottom: 15px;">
</div>
<div class="row">
<div class=" col-12 col-sm-12 col-md-12 col-lg-12">

<div class="col-lg-12 col-md-12 col-sm-12 col-12" >
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0; ">
<label class="control-label label_titulo_mas_opciones" >Fecha Venta</label>
<input type="date" id="id_fecha" name="id_fecha" value=""  autocomplete="off" class="form-control movil_id_fecha input-sm css_modal_inputs " placeholder="Fecha de Emisi&oacute;n">
</div>
</div>      
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="">
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0;">
<label class="control-label label_titulo_mas_opciones" >Despacho de productos</label><br>
<select class="form-control div_select_tipo_despacho css_modal_inputs" name="chbx_opcion" id="chbx_opcion"  >
<option value="1">Despachar todo</option>
<option value="3">Despachar despues</option>
<option value="4">No despachar</option>
</select>

</div>
</div>
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 10px;">    
<div class="col-lg-12 col-md-12 col-sm-12 col-12 div_tipodoc_serie_venta padding_celda_encabezado " style="margin: 0; padding: 0px; ">
<label class="d-flex text-start serie_venta_texto_orden_pedido label_titulo_mas_opciones">Comprobante Pago</label>  
<select name="tipodoc_venta" id="tipodoc_venta" onchange="act_serie_pos();" class="form-control css_modal_inputs "  >
<option value="0" selected="selected" hidden="hidden">Orden de Pedido</option>
<option value="3">Boleta Electr&oacute;nica</option>
<option value="4">Factura Electr&oacute;nica</option>
<option value="19">Factura (Contingencia)</option>
<option value="5">Nota de Venta</option>
</select>

</div>    
</div>
 
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 10px;">
<div class="col-12 div_tipodoc_serie_venta_ser padding_celda_encabezado" style="padding:0px;">
<label   class="d-flex text-start label_titulo_mas_opciones">Serie</label>      
<select name="serie_venta" id="serie_venta" class="form-control css_modal_inputs"   >
<option value="0" hidden="hidden">Seleccione</option>
</select>  
</div>
</div>    
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="">
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0; padding-top: 10px;">
    

 
<label class="control-label label_titulo_mas_opciones"  >Almac&eacute;n</label><br>
<select   name="almacen_empresa" id="almacen_empresa" class="form-control input-sm css_modal_inputs" >
<option>Almacen</option> 
</select>
 


</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="">
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding:0; padding-top: 10px;">
<label class="control-label label_titulo_mas_opciones"  >Unidad de Transporte:</label><br>
<select id="id_dato_distribucion_1" name="id_unidad_transporte"   class="form-control input-sm css_modal_inputs" >
<option value="0" selected="selected">Seleccione</option>
 
 
</select>
</div>
</div>
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top:10px;">
<div class="col-lg-12 col-md-12 col-sm-12 col-12 row" style="padding:0;">
<label class="control-label label_titulo_mas_opciones"  >Moneda</label><br>
<div class="col-lg-6 col-md-6 col-sm-6 col-6 row" style="padding:2px; background: #EBEBEB; border-radius: 10px; cursor: pointer; margin-bottom: 8px;">
<div class="col-lg-6 col-md-6 col-sm-6 col-6 tipo_m_1" onclick="modal_tipo_moneda(1);" style="border-radius: 10px;background: #ff9c00; color: #fff; font-size: 11px; padding-top: 3px;padding-bottom: 3px;">Soles</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-6 tipo_m_2" onclick="modal_tipo_moneda(2);" style="border-radius: 10px;background: #EBEBEB; color: black; font-size: 11px; padding-bottom: 3px; padding-top: 3px;">D&oacute;lares</div>   
</div>
 
<div class="div_select_tipo_moneda" style="width: 150px; margin-left: 5px; display: none; padding-left: 0px; ">
<select class="form-control" id="moneda" name="moneda" onchange="activa_cambio()" style=" width: 80px !important; background : #fff; color: #000; height: 30px; display: none; padding: 0; border-radius: 5px; border: none;">
<option value="1" selected="selected">Soles</option>
<option value="2">D&oacute;lares</option>
</select>
<input id="tipo_cambio" name="tipo_cambio" autocomplete="off" style="font-size: 12px; padding: 0; width: 60px !important; height: 30px; text-align: center; background : #ECECEC; color: #000; display: none; margin-top: 10px;" type="number" step="any" class="form-control input-sm nlabsac_input nlabsac_input_diurno">
</div>

</div>
</div>  
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top:10px;">
<label class="control-label label_titulo_mas_opciones"  >Referido</label><br>
<input autocomplete="off" style="font-size: 8pt; height: 25px; padding: 0; padding-left: 3px;" type="text" class="form-control input-sm <?php echo $_SESSION['labsac_style_modo_input_general'] . ' ' . $_SESSION['labsac_style_modo_input']; ?>" id="nombre_referido" placeholder="Buscar referido:">
<input autocomplete="off" id="id_referido" name="id_referido" type="hidden" readonly="readonly">

</div>    
    
<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 10px;">
<div class="outer_div_info_general"></div>    
</div> 
<div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
<buton onclick="$('#mas_opciones_pos').modal('hide');" style="font-size: 13px; margin: 0 auto;color: #fff; background: #ff9c00; padding: 7px; text-align: center; border-radius: 5px; width: 150px; cursor: pointer; padding-left: 25px; padding-right: 25px;">
Guardar</buton>  
</div>
    
</div>
</div>
</div>
</div>
</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-12 row padding_celda_encabezado" style="margin:0px; margin-top: 5px;">
<div class="col-lg-5 col-md-5 col-sm-8 col-6 padding_titulo_derecha nom_load_products"  >    
<!--CHECK DIVIDIR CUENTA-->
<div>
<label class="container_check">
<input type="checkbox" onclick="
if($(this).val() == 1){
$(this).val(0);
$( '.checks_id_tmp' ).val(0);
$( '.checks_icon_tmp' ).prop('checked', false);
$( '.checks_icon_tmp' ).change();
} else {
$(this).val(1);
$( '.checks_id_tmp' ).val(1);
$( '.checks_icon_tmp' ).prop('checked', true);
$( '.checks_icon_tmp' ).change();
}
" value="0"><span class="checkmark" style="left: -10px !important; top: 2px !important; "></span>
</label>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Productos
</div>
<div class="col-lg-3 col-md-3 col-sm-2 col-4 padding_titulo_derecha cant_load_products text-left desc_movil "  >    
Cantidad
</div>
<div class="col-lg-4 col-md-4 col-sm-2 col-2 padding_titulo_derecha total_load_products precio_titulo_movil display_css_titulo_total"  >    
Total
</div>
</div>




<div id="tamano_derecha" class="div_derecho_2">
<div id="agregar_cotizacion_orden_pos" style="display:none;"></div>    

<div class="row div_derecha_2" >

<table class="table table-condensed table-hover reportes_tabla_principal" id="table_append" style="width: 100% !important; margin-bottom:10px; display: none;"></table>

<div id="div_load_tabla_detalle"></div>
</div>
</div>

<div class="col-12 div_derecho_3 padding_celda_encabezado">
<div class="col-12 padding_celda_encabezado back_footer_totales">    
<div class="btns_total_footer">
<div class="row contenedor_totales_footer  ">

<input type="hidden" readonly="readonly" id="final_isc" value="0.00">
<div id="total_letras" style="display: none;">SON 0.00 SOLES</div>

<div class="col-6 sub_total_venta_pos css_titulo_totales">Subtotal</div>
<div class="col-6 sub_total_venta_pos css_titulo_input_totales">
<input type="text" disabled="disabled" class="input_pos_css_totales"  id="final_subtotal" value="S/0.00"></div>
<div class="col-6 sub_total_venta_pos css_titulo_totales"  >Descuento (%)</div>
<div class="col-6 sub_total_venta_pos css_titulo_input_totales"  >
<input type="text" disabled="disabled" class="input_pos_css_totales"  id="final_descuento" value="S/0.00">
</div>

<div class="col-6 sub_total_venta_pos css_titulo_totales"  >IGV (18%)</div>
<div class="col-6 sub_total_venta_pos css_titulo_input_totales"  >
<input type="text" disabled="disabled" class="input_pos_css_totales"  id="final_igv" value="S/0.00">
</div>
<div class="col-6 total_venta_pos_css css_titulo_total_venta"  >Total</div>
<div class="col-6 total_venta_pos_css css_titulo_input_totales"  >
<input type="text" readonly="readonly" class="input_pos_css_totales_total" id="final_total" name="final_total_js" value="S/0.00">
</div>
</div>


<div class="row " style="width: 100%; text-align: center; margin:0px;">
<div class="col-lg-7 col-md-8 col-7" style="padding: 3px;padding-bottom: 7px;padding-top: 7px; padding-left: 0px;">
<div class="row" style="margin:0px; margin-top:8px;">    
<div class="col-auto clase_movil_botones_pagar btn_cancelar_division" style="padding-left:0px; display: none;">
<button  type="button" class="btn" onclick="dividir_cuenta_seleccion(2);" style="background: #F0F0F0; border:0px; padding-top: 5px; padding-bottom: 0px; height: 50px; padding-left: 4px; padding-right: 4px;">
Cancelar
</button>
</div> 
<div class="col-auto clase_movil_botones_pagar  icono_footer_derecha_1 " style="padding-left:0px;">
 
</div>
    
<div class="col-auto clase_movil_botones_pagar  icono_footer_derecha_2">
<button  type="button" class="btn" style="background: #F0F0F0;  border:0px;display: none; padding-top: 5px; padding-bottom: 0px; height: 50px; padding-left: 4px; padding-right: 4px;">
<i class="dripicons-swap" style="font-size: 18px;"></i>
<label style="font-size: 10px; display: block; margin-bottom:  3px;">Transferir</label>
</button>   
</div>
<div class="col-auto clase_movil_botones_pagar icono_footer_derecha_3">
<button  type="button" class="btn" onclick="dividir_cuenta_seleccion(1);" style="display: none; background: #F0F0F0;  border:0px; padding-top: 5px; padding-bottom: 0px; height: 50px;">
<i class="bx bx-receipt" style="font-size: 22px;"></i>
<label style="font-size: 10px; display: block; margin-bottom:  3px;">Dividir</label>
</button>   
</div>    

</div> 
</div>
<div class="col-lg-5 col-md-4 col-5" style="padding: 3px;padding-bottom: 7px;padding-top: 7px;padding-right: 0px;">
  
<button onclick="var tipo_op = $('#tpodoc').val(); if(tipo_op == 50 || tipo_op == 51){ $('#btn_pos_pagar').css('display', 'none');  btn_coti_orden_POS(); } else {POS_pagar();}" id="btn_pos_pagar" type="button" class="btn" style="margin-top: 8px; width: 100%; font-size: 16px; float:right; height: 50px; border-radius: 0px; background: #FF4E00; color: white;">
<span class="span_boton_pagar " style="float: left;">PAGAR</span> 
<svg xmlns="http://www.w3.org/2000/svg" class="pagar_venta" width="20" height="20" viewBox="0 0 24 24"><g transform="rotate(180 12 12)"><path fill="#fff" d="M21 11H6.414l5.293-5.293l-1.414-1.414L2.586 12l7.707 7.707l1.414-1.414L6.414 13H21z"/></g></svg>
</button>
 
<button onclick="actualizar_cambios_cuentas();" id="guardar_cambios_dividir" type="button" class="btn btn_guardar_cambios_pos" >
<span class=" " style="float: left;">Guardar Cambios</span>
</button>    
</div> 
   
<div class="agregar_factura" style="border-radius: 5px; padding-top: 0px; padding-bottom: 0px;"></div>
</div>


</div>
</div>
</div>
</div> 
</div>
</form>



<input value="0" id="select_panel_value" type="hidden">

 
<!-- Modal -->
<div class="modal fade in" id="modal_buscar_cliente" role="dialog" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog "  style="">
<!-- Modal content-->
<div class="modal-content" style="border-radius:0px;">
<div class="modal-header" style="border:0px; padding-bottom: 0px;">
<button type="button" class="close  btn-close "  style="font-size: 12pt;" onclick="$('#modal_buscar_cliente').modal('hide');$('#buscar_cliente_mod').val('');"></button>
</div>
<div class="modal-body text-center" style="padding-left: 0px; padding-right:0px; padding-bottom:0px;">
<p style="font-weight: bold; font-size: 18px; color: #000000; ">&#161;Seleccione cliente&#33;</p>
<div class="col-12" style="padding-left: 10px; padding-right: 10px;">
<input autocomplete="off" style="font-size: 8pt; height: 25px; padding: 0; padding-left: 3px;" type="text" class="form-control input-sm " id="buscar_cliente_mod" placeholder="Buscar Cliente:"  value="">
</div>
</div>
<div class="modal-footer" style="border:0px;">
<div class="row col-12">    
<div class="col-12 text-center">
<button type="button" class="btn btn-default" style="font-size: 13px; border:1px solid #FF4E00; background: #FF4E00; color: #fff;" onclick="$('#modal_buscar_cliente').modal('hide');$('#buscar_cliente_mod').val('');" >Continuar</button>
</div>
</div>
</div>
</div>

</div>
</div>


<div class="resultado_precuenta"></div>
<div class="resultado_division_cuenta_update"></div>
<div class="resultado_modal_lista_precio"></div>

<script>
function modal_tipo_moneda(tipo){
if(tipo == 1){
$('.tipo_m_1').css('background', '#ff9c00'); 
$('.tipo_m_1').css('color', '#fff');  
$('.tipo_m_2').css('background', '#EBEBEB'); 
$('.tipo_m_2').css('color', 'black'); 
$('#moneda').val('1'); 
activa_cambio();
}
if(tipo == 2){
$('.tipo_m_2').css('background', '#ff9c00'); 
$('.tipo_m_2').css('color', '#fff');  
$('.tipo_m_1').css('background', '#EBEBEB'); 
$('.tipo_m_1').css('color', 'black');    
$('#moneda').val('2'); 
$('.div_select_tipo_moneda').css('display', '');
activa_cambio();
}

}

function adaptar_pos() {
  // ADAPTAR LADO DERECHO - IZQUIERDO
  var height_window = window.innerHeight;
  var width_pantalla_movil_derecha = parseInt(window.innerWidth);
  var cantidad_desminucion_movil;
  var cantidad_dis_izquierda;
  
  if (width_pantalla_movil_derecha <= 768) {
    cantidad_desminucion_movil = 185;
    cantidad_dis_izquierda = 10;
  } else {
    cantidad_desminucion_movil = 105;
    cantidad_dis_izquierda = 30;
  }
  
  document.getElementById('lado_izquierdo').style.height = height_window + 'px';
  document.getElementById('lado_derecho').style.height = (height_window - 20) + 'px';
  
  var ver_puntos_div = document.querySelector('.ver_puntos').offsetHeight;
  var height_div_izquierdo_1 = document.querySelector('.div_izquierdo_1').offsetHeight;
  var div_izquierdo_3 = document.querySelector('.div_izquierdo_3').offsetHeight;
  var tamano_izquierda = height_window - height_div_izquierdo_1 - div_izquierdo_3 - cantidad_dis_izquierda;
  document.getElementById('tamano_izquierda').style.height = tamano_izquierda + 'px';
  
  var div_derecho_1 = document.querySelector('.div_derecho_1').offsetHeight;
  var div_derecho_3 = document.querySelector('.div_derecho_3').offsetHeight;
  var tamano_derecha = height_window - div_derecho_1 - div_derecho_3 - cantidad_desminucion_movil - ver_puntos_div;
  document.getElementById('tamano_derecha').style.height = tamano_derecha + 'px';
  
  // ADAPTAR DIV_1 DEL LADO IZQUIERDO
  var width_div_izquierdo_1 = document.querySelector('.div_izquierdo_1').offsetWidth;
  var div_select_vendedor = document.querySelector('.div_select_vendedor').offsetWidth;
  //var div_separator_1 = document.querySelector('.div_separator_1').offsetWidth;
  var div_separator_1 = 0;
  //var div_separator_2 = document.querySelector('.div_separator_2').offsetWidth;
    var div_separator_2 = 0;
  var div_registrar_producto = document.querySelector('.div_registrar_producto').offsetWidth;
  //var div_separator_3 = document.querySelector('.div_separator_3').offsetWidth;
  var div_separator_3 = 0;
  var div_cambio_vista_producto = document.querySelector('.div_cambio_vista_producto').offsetWidth;
  
  if (width_div_izquierdo_1 <= 370) {
    div_separator_1 = 10;
    div_separator_2 = 10;
    div_separator_3 = 10;
    document.querySelector('.div_separator_1').style.width = div_separator_1 + 'px';
    document.querySelector('.div_separator_2').style.width = div_separator_2 + 'px';
    document.querySelector('.div_separator_3').style.width = div_separator_3 + 'px';
  }
  
  var div_buscar_producto = width_div_izquierdo_1 - (div_select_vendedor + div_separator_1 + div_separator_2 + div_registrar_producto + div_separator_3 + div_cambio_vista_producto + 30);
  //document.querySelector('.div_buscar_producto').style.width = div_buscar_producto + 'px';
  
// ADAPTAR DIV_1 LADO DERECHO
  var width_div_derecho_1 = document.querySelector('.div_derecho_1').offsetWidth;
  var div_select_serie = document.querySelector('.div_select_serie').offsetWidth;
  var div_input_num_factura = document.querySelector('.div_input_num_factura').offsetWidth;
  var div_select_tipodoc = width_div_derecho_1 - (div_select_serie + div_input_num_factura + 100);
  //document.querySelector('.div_select_tipodoc').style.width = div_select_tipodoc + 'px';
  
  var div_btn_cliente = document.querySelector('.div_btn_cliente').offsetWidth;
  var div_select_tipo_despacho = document.querySelector('.div_select_tipo_despacho').offsetWidth;
  var div_select_tipo_moneda = document.querySelector('.div_select_tipo_moneda').offsetWidth;
  var div_input_cliente = width_div_derecho_1 - (div_btn_cliente + div_select_tipo_despacho + div_select_tipo_moneda + 30);
  //document.querySelector('.div_input_cliente').style.width = div_input_cliente + 'px';
  
  // ADAPTAR DIV INFO CLIENTE
  var div_load_info_cliente = height_window - 50;
  //document.querySelector('.div_load_info_cliente').style.height = div_load_info_cliente + 'px';
  
  // ADAPTAR DIV INFO PRODUCTO
  var div_load_info_producto = height_window - 50;
  //document.querySelector('.div_load_info_producto').style.height = div_load_info_producto + 'px';
  
  // ADAPTAR DIV POS PAGAR
  var div_pos_pagar = height_window - 50;
  document.querySelector('.div_pos_pagar').style.height = div_pos_pagar + 'px';
}

//FUNCIONES EJECUTAR AUTOMATICAMENTE
function contador_adaptar_pos(){
adaptar_pos();
}
setInterval('contador_adaptar_pos()', 500);



</script>
 
    

    













{{/if}}


  </body>
</html>